@charset "utf-8";

html, body{
  font-family: "Apercu-Bold", sans-serif;
  background-color: #f2f2f2;
  z-index: -10;
  position: relative;
  min-height: 100vh;
}
body, h1, h2, h3, h4, p, a{
  color: black;
  text-decoration: none;
}
body{padding-top: 20px;}

a:hover{
  color: blue;
}

/* GENERAL HEADER */

.eb_header{
  padding-left: 0.5%;
  padding-top: 25px;
  padding-bottom: 20px;
}
.eb_header, .eb_header h1{
  font-size: 12pt;
  font-weight: normal;
}
.eb_header a:hover{
  text-decoration: none;
  border-bottom: 3px solid blue;
}

.container{
  background-color: #f2f2f2;
  -moz-animation: anim 1s linear forwards 3s;
  -webkit-animation: anim 1s linear forwards 3s;
  -o-animation: anim 1s linear forwards 3s;
  -ms-animation: anim 1s linear forwards 3s;
  animation: anim 1s linear forwards 3s;
}

/* INDEX */

.index{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f2f2;
}

.container_index, .footer_index {
  margin: auto;
}

.footer_index {
  margin: 10px auto;
}

.container_index{
  background-color: #f2f2f2;
  border: 4px solid black;
  padding: 0 15px 15px 15px;
  max-width: 360px;
}
.footer_index p, .footer_index a{
  text-align: center;
  font-size: 12pt;
}
.container_index a, .footer_index a{
  text-decoration: none;
}
.index a:hover{
  border-bottom: 3px solid blue;
}
.container_index a, .container_index h1{
  font-size: 14pt;
  font-weight: lighter;
}
.container_index h2{
  font-size: 13.8pt;
  font-weight: normal;
}

/* GENERAL MENU */

.nav_menu > div{
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 2%;
  border-bottom: black 3px solid;
}
.nav_item{
  border: 3px solid black;
  text-align: center;
  height: 38px;
  white-space: nowrap;
}
.nav_item, .nav_item a {
  line-height: 32px;
  font-size: 14pt;
}
.nav_item a{
  display: block;
  width: 100%;
  height: 100%;
  color: black;
}

.nav_item:hover{
  border: 3px solid blue;
  text-align: center;
}
.nav_item:hover a{
    color: blue;
    text-decoration: none;
}


/* GENERAL FOOTER */

footer{
  align-content: center;
  text-align: center;
  padding-top: 4%;
  font-size: 10px;
  margin-bottom: 20px;
}

footer p{
  color: grey;
  margin-bottom: 2px;
}


/* ERROR */
.error{
  padding-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}
.error a{
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
}
.error a:hover{
  border-bottom: 3px solid blue;
}

/* WALLS */

/* alignement avec le header général appliqué sur toutes les div inclues dans preview_wall*/
.preview_wall > div{
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-size: 13pt;
}
.preview_wall{
  padding-top: 170px;
}

.preview_wall img{
    width: 100%;
    /*margin-bottom: 2%;*/
}
.preview_item a{
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.preview_item{
  text-align: center;
  border: 3px solid black;
  width: 100%;
  /*height: 410px;*/
  padding: 0;
  margin-bottom: 5%;
}
.preview_item:hover{
  border: 3px solid blue;
}

.preview_title{
  border: 3px solid black;
  padding: 5px;
  background-color: white;
  left: 5%;
  /*margin:0% 0%;*/
  display: block;
  width: 90%;
  position: absolute;
  bottom: 10%;
}

.preview_item:hover .preview_title{
  color: blue;
  text-decoration: none;
  border: 3px solid blue;
  padding: 5px;
  background-color: white;
}

.preview_item:hover .preview_image{
  opacity:0.6;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);

-webkit-transition: filter 0.75s linear;
-moz-transition: filter 0.75s linear;
-ms-transition: filter 0.75s linear;
-o-transition: filter 0.75s linear;
transition: filter 0.75s linear;
}
.preview_item:hover .preview_image >img:hover{
  /*filter: opacity(0.6);*/
}

.preview_item .preview_image{
  opacity:1;

  filter: grayscale(0%);
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);

-webkit-transition: filter 0.75s linear;
-moz-transition: filter 0.75s linear;
-ms-transition: filter 0.75s linear;
-o-transition: filter 0.75s linear;
transition: filter 0.75s linear;

}
.preview_item .preview_image img{
  z-index: -1;
  position: relative;
  margin: 0; padding: 0;
}

.post__wrapper_helper {
	background: #fff;
	-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	-moz-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	-ms-box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	box-shadow: 0 0 13px rgba(0, 0, 0, .07);
	cursor: pointer;
	height: 380px;
	overflow: hidden;
	opacity: 0;
	position: relative;
	/*-webkit-transform: rotateY(89deg);
	-moz-transform: rotateY(89deg);
	-ms-transform: rotateY(89deg);
	-o-transform: rotateY(89deg);
	transform: rotateY(89deg);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	transition: all .5s ease-out;*/
}

/* Transitions */
.el__transition,
.social__icon:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.el__transition_long {
	-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-ms-transition: all .75s ease-out;
	transition: all .75s ease-out;
}


.paddingbottom{
  padding-bottom: 4%;
}

.small_margin_bottom{
  margin-bottom: 3%;
}

/* LAYOUT_PROJECTS */

/*.col-lg-4{
  margin-bottom: 15px;
}*/

.padding_top{
  padding-top: 170px;
}

.project_article > div{
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-size: 13pt;
}

.project_text{
  border: 3px solid black;
  padding: 2%;
  margin-bottom: 15px;
}

.project_text h1{
  font-size: 10.5pt;
  font-weight: bolder;
  margin-bottom: 30px;
  margin-top: 0.5em;
}
.project_text p, a{
  font-size: 11pt;
  font-weight: lighter;
  color: #101010;
  line-height: 1.5;
}
.project_text p.english {
  font-family: "Apercu-Bold-Italic", sans-serif;
  color: #222222;
  font-size: 10.8pt;
  margin-top: 10px;
  line-height: 1.4;
}

.project_text a:hover{
  text-decoration: none;
  border-bottom: 3px solid blue;
}

.col-lg-8 img{
  width: 100%;
  border: 3px solid black;
  margin-bottom: 15px;
}

img.divided_margin_right{
  max-width: 49%;
  margin-right: 1%;
}
img.divided_margin_left{
  max-width: 49%;
  margin-left: 1%;
}

.gallery p{
  font-size: 20px;
  font-family: "Apercu-Bolder";
  color: #101010;
  margin-top: 13px;
}
.gallery span.problematique{
  font-size: 25px;
  font-family: "Apercu-Bolder-Italic";
  color: blue;
}

.col-lg-12 .gallery{
  padding-left: 0px;
  padding-right: 2%;
}
.gallery p.text_notification{
  font-size: 13px;
  text-align: center;
  margin-top: 100px;
}

/* IMPORT DE LA TYPO */

@font-face {
  font-family: "Apercu-Bold";
  src: url("../fonts/apercu/Apercu_Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Apercu-Bold-Italic";
  src: url("../fonts/apercu/Apercu_Medium_Italic.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Apercu-Bolder";
  src: url("../fonts/apercu/Apercu_Bold.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Apercu-Bolder-Italic";
  src: url("../fonts/apercu/Apercu_Bold_Italic.otf");
  font-weight: 500;
}
