extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"
  
block project_title
  h1 À L'OMBRE DE VOS DONNÉES — hack:olyte

block project_description
  p.
    Pour mieux comprendre le phénomène de la traque des métadonnées 
    sur le web et ses différents mécanismes, je me suis tout d'abord 
    intéressée aux traqueurs et à leur impact sur notre navigation web.
  p.  
    La volonté ici est que l’internaute puisse par lui-même voir 
    et connaître de manière globale et cohérente tous les acteurs 
    avec lesquels les sites qu’il visite communiquent ses métadonnées.
  p.
    Grâce à <em>hack:olyte</em>, les internautes peuvent ainsi mettre 
    à l'épreuve les capacités de filtrage de leur navigateur et
    vérifier l'efficacité des outils qui limitent les cookies.
  p.
    J’ai développé en lien avec l’interface, un plugin plus plastique 
    qui réagit visuellement comme un organisme vivant, impacté par 
    la collecte des données en temps réel. Il permet d’informer 
    l’internaute directement en parallèle de sa navigation, chose 
    que ne peut pas faire l’interface, sur la quantité de 
    métadonnées récupérées.
  p &#9755; Ce projet a été développé suite à des échanges avec Olivier Desbiey du Laboratoire Innovation et Prospective de la CNIL.
    
block project_gallery
  div.gallery
  
    img.divided_margin_right(src="../images/diploma_projects/Bouquet_Esther-hackolyte_interface-mockup_index.jpg")
    img.divided_margin_left(src="../images/diploma_projects/Bouquet_Esther-hackolyte-interface_et_plugin_coupe.jpg")
    div.embed-container
      iframe(src='https://player.vimeo.com/video/226751109', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    div.embed-container
      iframe(src='https://player.vimeo.com/video/226776836', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
