extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"

block project_title
  h1 À L'OMBRE DE VOS DONNÉES — Expérimentations

block project_description
  p.
    Quelques expérimentations graphiques menées en parallèle de mon projet de diplôme.
    Une édition les regroupe toutes et les met en relation avec les diférentes recherches
    effectuées sur le web que j'ai été amenée à réaliser durant cette année de diplôme. 

block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_01.jpg")
    img.divided_margin_left(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_02.jpg")
    img.divided_margin_right(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_03.jpg")
    img.divided_margin_left(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_04.jpg")
    img(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_04-2.jpg")
    img.divided_margin_right(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_05.gif")
    img.divided_margin_left(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_06.gif")
    img.divided_margin_right(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_07.gif")
    img.divided_margin_left(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_08.jpg")
    img(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_10.jpg")
    img(src="../images/diploma_experiments/Bouquet_Esther-Hacking_Little_Printer-01.jpg")
    img.divided_margin_right(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_11.gif")
    img.divided_margin_left(src="../images/diploma_experiments/Bouquet_Esther-diploma_project_experiment_12.gif")
    img(src="../images/diploma_experiments/Bouquet_Esther-Hackumule-cards.jpg")
