extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"
  
block project_title
  h1 À L'OMBRE DE VOS DONNÉES — Mémoire

block project_description
  p.
    Bientôt en ligne !
