extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"
  
block project_title
  h1 À L'OMBRE DE VOS DONNÉES — hack:tion

block project_description
  p.
    À travers <em>hack:tion</em>, j'ai souhaité penser mon projet de diplôme comme une expérience globale, c'est 
    pourquoi j'ai envisagé une campagne de lancement et d’information déclinée sur les réseaux sociaux 
    et dans l’espace public sous la forme de mini-vidéos et gifs animés qui s’insèrent dans les encarts 
    de publicité ciblée habituels.
  p.
    C’est avant tout avec la volonté de toucher les personnes susceptibles d’être intéressées par 
    cette approche nouvelle et plus accessible de réappropriation des données sur le web que je l’ai pensée. 
    L’identité passe par les couleurs utilisées qui sont elles-mêmes déclinées dans les projets.
  p.
    <em>hack:tion</em> est donc composé d'une campagne de lancement mais également d'une plateforme web 
    de médiation/diffusion qui regroupe d'une part tous les projets présentés, et d'autre part des fiches 
    techniques pour comprendre ses droits sur le web et pour mieux comprendre certains termes complexes 
    liés au numérique. Celles-ci sont accessibles en ligne, mais aussi sous la forme imprimée afin de les 
    distribuer par exemple dans les écoles sous la forme d’un petit manuel format A5 dans le cadre de 
    l’éducation au numérique ou bien encore sous forme de fiches détachables. 
    Enfin, sur le site web, les internautes peuvent finalement télécharger tout le contenu librement.
    
  p.
    <u> Plus de photos bientôt !</u>
    
block project_gallery
  div.gallery
      
    img.divided_margin_right(src="../images/diploma_projects/01Bouquet_Esther-hacktion-fiches_techniques_01.jpg")
    img.divided_margin_left(src="../images/diploma_projects/01Bouquet_Esther-hacktion-fiches_techniques_04.jpg")
    img.divided_margin_right(src="../images/diploma_projects/01Bouquet_Esther-hacktion-fiches_techniques_02.jpg")
    img.divided_margin_left(src="../images/diploma_projects/01Bouquet_Esther-hacktion-fiches_techniques_03.jpg")
    img(src="../images/diploma_projects/01Bouquet_Esther-hacktion_site_ok3_version_site_terminus.gif")
