extends ./templates/layout.jade

block put_a_title_in_this_block
  title Maybe we should talk! — Esther Bouquet — Graphic & space designer 
  
block put_a_content_in_this_block
  div.row.preview_wall
    div.col-md-6.col-lg-8.col-sm-12.col-xs-12
      div.project_text
        h1 Hello!
        p. 
          After a two-year vocational degree in space design at Olivier de Serres, I have graduated a multidisciplinary master degree with highest honour, 
          studying graphic design in Rennes. I worked for a year on my diploma project entitled “In the shadow of your data” focusing on this main issue:
          How can the graphic designer help web users to become e-aware users of their own digital data? I have created several devices which allow people 
          to know more about their data being collected and how to manage them easier in order to limit the collect.
        p.
          In February, I will pursue my education in Saint-Etienne 
          Higher School of Art and Design, still in graphic design but more specifically in contemporary digital practices. For my first semester, 
          I am looking for an internship where I can interact with professionals, develop my coding skills, (improve my English) and discover new things 
          that would not be expected.
        p.
          I am really interested in art history and design theory, whose are a real part of my creative process.
          I also like mixing borders of graphic and space design through interdisciplinary projects, interactive installations, or wayfinding. 
          I enjoy exhibition scenography, the event quality of spaces but also digital and interactive medias.
        p.
          Always on the lookout for graphic and space design news, I took part in several workshops where I fisrt discovered
          interactive light experimentation and then various techniques, various practices such as typography or programming languages.
    div.col-md-6.col-lg-4.col-sm-12.col-xs-12
      div.project_text
        h1 SAY HELLO AND LET'S WORK TOGETHER!
        p &#9755;  
          a(href="mailto:hello@estherbouquet.com")  hello@estherbouquet.com
        p &#9755;  
          a(href ="https://www.instagram.com/estherbouquet", target ="_blank") Instagram 
          • 
          a(href ="https://www.pinterest.com/bouquetesther", target ="_blank") Pinterest 
          • 
          a(href ="https://www.linkedin.com/in/estherbouquet", target ="_blank") Linkedin 
          • 
          a(href ="https://github.com/estherbouquet", target ="_blank") GitHub 
          • 
          a(href ="https://vimeo.com/estherbouquet", target ="_blank") Vimeo 
        p &#9755; Find my  
          a(href ="./docs/Bouquet_Esther-CV-Juin2017.pdf", target ="_blank") resume here
          and and my 
          a(href ="./", target ="_blank") offline portfolio here.
      div.project_text
        h1 I LIKE WORKING WITH THEM:
        p &#9755;  
          a(href ="https://fr.linkedin.com/in/aurélie-cousquer-3ba2b8108", target ="_blank") Aurélie Cousquer (graphic designer)
        p &#9755;  
          a(href ="https://fr.linkedin.com/in/élodie-tourbier-368abb116", target ="_blank") Élodie Tourbier (graphic designer)
        //p &#9755;  
          //a(href ="http://leamarand.com/", target ="_blank") Léa Marand (graphic designer)
        //p &#9755;  
          //a(href ="http://amandinehaussy.wixsite.com/design-environnement/amandine-haussy-work", target ="_blank") Amandine Haussy (space designer)
        p &#9755;  
          a(href ="https://quentin.dufour.io/", target ="_blank") Quentin Dufour (dev & sys admin)
        p &#9755;  
          a(href ="https://github.com/Hamilcare", target ="_blank") Valentin Quiédeville (IT student)
