extends ./templates/layout.jade

block put_a_title_in_this_block
  title MAYBE WE SOULD TALK! — Esther Bouquet — Graphic & space designer 
  
block put_a_content_in_this_block
  div.row.preview_wall
    div.col-md-6.col-lg-4.col-sm-6.col-xs-12
      div.project_text
        h1 ABOUT ME:
        p. 
          After graduating in a two-year vocational degree in space design at Olivier de Serres and I am currently studying graphic design in a multidisciplinary
          master degree, at LAAB, in Rennes.
        p.
          I am really interested in art history and design theory.
          I also like mixing borders of graphic and space design through interdisciplinary projects, interactive installations, or wayfinding. 
          I enjoy exhibition scenography, the event quality of spaces but also digital and interactive medias.
        p.
          Always on the lookout for graphic and space design news, I took part in several workshops where I fisrt discovered
          interactive light experimentation and then various techniques, various pratices such as typography or programming languages.
    div.col-md-6.col-lg-4.col-sm-6.col-xs-12
      div.project_text
        h1 DO YOU WANT TO TALK OR MEET?
        p &#9755;  
          a(href="mailto:hello@estherbouquet.com")  hello@estherbouquet.com
      div.project_text
        h1 YOU CAN ALSO FIND ME ON:
        p &#9755;  
          a(href ="https://www.instagram.com/estherbouquet", target ="_blank") Instagram 
          • 
          a(href ="https://www.pinterest.com/bouquetesther", target ="_blank") Pinterest 
          • 
          a(href ="https://www.linkedin.com/in/estherbouquet", target ="_blank") Linkedin 
          • 
          a(href ="https://www.behance.net/estherbouquet", target ="_blank") Behance 
          • 
          a(href ="https://github.com/estherbouquet", target ="_blank") GitHub 
          • 
          a(href ="https://vimeo.com/estherbouquet", target ="_blank") Vimeo 
      div.project_text
        h1 LAST INFORMATIONS:
        p &#9755; Find my  
          a(href ="./", target ="_blank") resume here
          and and my 
          a(href ="./", target ="_blank") offline portfolio here.
