extends ./templates/layout_projects.jade

block project_title
  h1 ART IN CONTEXT — CHAPELLE DES CALVAIRIENNES

block project_description
  p.
    Cette édition retrace le travail d’analyse d’œuvres 
    ayant été exposées à la Chapelle des Calvairiennes, à Mayenne. 
  p.
    Le concept éditorial mis en place s'appuie sur un postulat spatial :
    lors de la visite d'une exposition, on explore, on déambule, on tourne autour 
    des œuvres ; on les synthétise pour mieux les apprécier dans
    leur globalité, dans leur ensemble, mais on les détaille également afin de les
    comprendre intimement. L'édition s'apparente donc à un guide qui fait état
    à la fois du cheminement physique et passé, engendré par le déplacement dans 
    l'espace de la Chapelle, mais également du cheminement mental 
    emprunté lors de l'analyse de ces expositions, et de leur retranscription 
    plastique.
  p.
    <em>English coming soon</em>
  
block project_gallery
  div.gallery
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Couverture.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre01.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre01-texte01.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre02-texte01.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre03.jpg"
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre04.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre04-texte01.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre04-texte02.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Chapitre05-texte01.jpg")
    img(src="../images/chapelle_calvairiennes/Bouquet_Esther-Edition-Calvairiennes-Couverture-Back.jpg")
