extends ./templates/layout_projects.jade

block project_title
  h1 BORBOLA, A TYPEFACE WHICH CURES WORDS
  
block project_description
  p. 
    Borbola is a lineal typeface for titles which was created
    after a 1900-lettering on a postcard for La Bourboule, a
    french little village known for its thermal springs.
    Thus, its name, Borbola, refers to the mud, the silt. 
    The typeface is built from a modular system with elementary shapes
    which highlight the verticality and the geometrical aspect of the 
    former letters structure.
    The project, through the unity of the several communication mediums,
    is developped around a specific vocabulary: a curative and a humorous one.
    
block project_gallery
  div.gallery
    img(src="../images/borbola/Bouquet_Esther-Borbola-Bourboule_Carte_Depart.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Structure.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Ecran.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Pangramme.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Affiche-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Carte-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Specimen.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Savons.jpg")
