extends ./templates/layout_projects.jade

block project_title
  h1 BORBOLA, A TYPEFACE WHICH CURES WORDS
  
block project_description
  p.
    Borbola est une typographie linéale de titrage, 
    imaginée à partir du lettrage de la carte postale 
    de La Bourboule datant de 1900. <br>
    Par son nom, Borbola fait ainsi référence à la boue, 
    à la bourbe, en hommage à cette ville où les nombreuses 
    sources thermales en ont fait la renommée au XIXème siècle. <br> 
    La fonte est construite à partir d’un gabarit modulaire 
    basé sur des formes élémentaires qui renforcent la verticalité 
    et la géométrie des fûts du lettrage d’origine.
    Le projet, à travers la cohérence des différents supports de 
    communication déployés s'articule autour d'un vocabulaire 
    curatif et humoristique.
  p.english <br>Borbola is a lineal typeface for titles which was created
    after after a 1900-lettering on a postcard for La Bourboule, a
    french french little village known for its thermal springs.
    Thus Thus, its name, Borbola, refers to the mud, the silt. 
    The The typeface is built from a modular system with elementary shapes
    which which highlight the verticality and the geometrical aspect of the 
    former former letters structure.
    The The project, through the unity of the several communication mediums,
    is is developped around a specific vocabulary: a curative and a humorous one.
    
block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/borbola/Bouquet_Esther-Borbola-Bourboule_Carte_Depart.JPG")
    img.divided_margin_left(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Structure.JPG")
    img.divided_margin_right(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Ecran.JPG")
    img.divided_margin_left(src="../images/borbola/Bouquet_Esther-Borbola-Pangramme.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Affiche-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Carte-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Specimen.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Savons.jpg")
