extends ./templates/layout.jade

block put_a_title_in_this_block
  title YOU TOOK THE WRONG WAY — Esther Bouquet — Graphic & space designer 
  
block put_a_content_in_this_block
  div.error
    p There is nothing here! (Well, not yet.) <br>
      a(href="./lab.html")&#9755; Going back?
