extends ./templates/layout_projects.jade

block project_title
  h1 INTERNSHIP REPORT — .CORP
  
block project_description
  p. 
    .CORP est un collectif de design graphique 
    dont toute une partie du travail s’axe autour 
    d’installations interactives et de projets expérimentaux interactifs.
  p.
    Le collectif se définit comme étant un atelier de création 
    visuelle qui s’investit aussi bien dans l’élaboration et 
    l’écriture des projets artistiques que dans la mise en forme 
    graphique de tout support, qu’il soit numérique ou papier.
    J’ai choisi le collectif .CORP pour réaliser ce stage tout 
    d’abord parce que je souhaitais découvrir davantage le design 
    interactif et multimédia, et plus spécialement à travers des 
    dispositifs qui s’ancrent dans l’espace du fait de ma réelle 
    sensibilité pour celui-ci. 
  p.
    <em>English coming soon</em>
    
block project_gallery
  div.gallery
    nothing yet
    img(src="../images/internship_corp/")
    img(src="../images/internship_corp/")
    img(src="../images/internship_corp/")
    img(src="../images/internship_corp/")
    img(src="../images/internship_corp/")
    img(src="../images/internship_corp/")
