extends ./templates/layout_projects.jade

block project_title
  h1 DIGITAL CREATION - ART AND DESIGN CREATED BY MACHINES?
  
block project_description
  p. 
    De plus en plus présente dans notre quotidien, la création numérique 
    s’impose dans les festivals, les galeries, les centres d’art.<br>
    Cette édition présente un état des lieux de la création numérique en questionnant
    les liens entre création numérique et médias traditionnels. À l'heure du « tout numérique »,
    le cœur même de l’expérience pour le public est la relation qu’il entretient avec 
    cette oeuvre, mais également avec ce programme, cette immatérialité.<br><br>
    <em>En quoi l’instauration d’un dialogue entre les médias traditionnels 
    et la création numérique permet-elle d’engendrer une nouvelle expérience ?</em>

    
block project_gallery
  div.gallery
    img(src="../images/borbola/Bouquet_Esther-Borbola-Bourboule_Carte_Depart.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Structure.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Ecran.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Pangramme.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Affiche-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Carte-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Specimen.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Savons.jpg")
