extends ./templates/layout.jade

block put_a_title_in_this_block
  title WORKING ON MY DIPLOMA — Esther Bouquet — Graphic & space designer 

block put_a_content_in_this_block
  div.row.preview_wall
    div.col-md-4.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./master_thesis_editorial_design.html") 
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Refreshing_Memories.jpg")
          span.preview_title In the shadow of your data (editorial design)
    div.col-md-4.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./a_lombre_de_vos_donnees_fr.html")
          div.preview_image 
            img(src="./images/previews/PREVIEW_Bouquet_Esther-CORP_Internship.jpg")
          span.preview_title In the shadow of your data (FR)
    div.col-md-4.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./diploma_project_experimentations.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-CORP_Internship.jpg")
          span.preview_title Graphic experiments
    div.col-md-4.col-lg-3.col-sm-4.col-xs-12
          img.divided_margin_right(src="../images/master_thesis/Bouquet_Esther-Master_Thesis_Text_01.jpg")
          img.divided_margin_left(src="../images/master_thesis/Bouquet_Esther-Master_Thesis_Text_02.jpg")
