extends ./templates/layout_projects.jade

block project_title
  h1 ÊTRE AU MONDE — GASTON BACHELARD

block project_description
  p.
    Traduction plastique d'un extrait de <em>La Poétique de l'Espace</em>, 
    et plus particulièrement du chapitre IV, « Le Nid » de Gaston 
    Bachelard, questionnant le rapport de l'être au monde dans sa 
    dimension première. 
  p.  
    Le textile renvoie à l'univers du cocon, 
    de la membrane ; la lumière crée un univers chaleureux, intime, 
    teinté d'un certain aspect mystérieux voire même intrigant ; 
    la superposition de deux photographies crée un mouvement ; 
    la forme humaine habite cet entre-deux, le subit, le confronte 
    créant ainsi une dualité tangible, une narration sous forme de storyboard.
  p Projet mené avec Alizée Billois.
  p.
    <em>English coming soon</em>
  
block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/etre_au_monde/Bouquet_Esther-Etre_Au_Monde-Gaston_Bachelard-Poetique_de_lespace-Le_Nid1.jpg")
    img.divided_margin_left(src="../images/etre_au_monde/Bouquet_Esther-Etre_Au_Monde-Gaston_Bachelard-Poetique_de_lespace-Le_Nid2.jpg")
    img.divided_margin_right(src="../images/etre_au_monde/Bouquet_Esther-Etre_Au_Monde-Gaston_Bachelard-Poetique_de_lespace-Le_Nid3.jpg")
    img.divided_margin_left(src="../images/etre_au_monde/Bouquet_Esther-Etre_Au_Monde-Gaston_Bachelard-Poetique_de_lespace-Le_Nid4.jpg")
    img(src="../images/etre_au_monde/Bouquet_Esther-Etre_Au_Monde-Gaston_Bachelard-Poetique_de_lespace-Le_Nid5.jpg")
    img(src="../images/etre_au_monde/Bouquet_Esther-Etre_Au_Monde-Gaston_Bachelard-Poetique_de_lespace-Le_Nid6.jpg")
    img(src="../images/etre_au_monde/Bouquet_Esther-Etre_Au_Monde-Gaston_Bachelard-Poetique_de_lespace-Le_Nid7.jpg")
