extends ./templates/layout_projects.jade

block project_title
  h1 FLUORESCENT PAINTINGS

block project_description
  p.
    Expérimentations avec de la lumière noire et de la 
    peinture fluorescente comme amorce d'un projet pour 
    la Fête des Lumières à Lyon. Atelier libre à partir 
    de peintures et d'accessoires fluorescents (tulle, 
    arceaux lumineux,...). La source lumineuse composée 
    d'ultras-violets fait alors ressortir les blancs et 
    tous les objets fluorescents en créant un ambiance 
    originale et inhabituelle, presque tribale.

  p.english
    <br> Several experimentations using black light technology, 
    c fluorescent paints and accessories based on the theme 
    c "wild and tribal".

block project_gallery
  div.gallery
    img(src="../images/fluo_paint/")
    img(src="../images/fluo_paint/")
    img(src="../images/fluo_paint/")
    img(src="../images/fluo_paint/")
    img(src="../images/fluo_paint/")
    img(src="../images/fluo_paint/")
    img(src="../images/fluo_paint/")
    img(src="../images/fluo_paint/")
