extends ./templates/layout_projects.jade

block project_title
  h1 GÉNÉRER DES DYNAMIQUES SOCIALES, TEMPS COMMUNS ÉPHÉMÈRES
  
block project_description
  p. 
    La ville de Tonnerre, située à 200 km de Paris, 
    en Bourgogne, reste plongée dans une sorte d'inertie, léthargie.
    À partir de ce postulat, comment gérer la mobilité ? Comment envisager 
    le caractère exceptionnel de l’événement (chantier, exposition, temps forts,...) ? 
    Quel est le rôle de l’architecte ? Quelle position doit-il alors
    adopter ? De quelle manière envisager le patrimoine, son potentiel ?
    
block project_gallery
  div.gallery
    p put the text here
