extends ./templates/layout_projects.jade

block project_title
  h1 GÉNÉRER DES DYNAMIQUES SOCIALES, TEMPS COMMUNS ÉPHÉMÈRES
  
block project_description
  p. 
  Cette réflexion a été rédigée en parallèle de mon projet de diplôme de BTS dans la ville de Tonnerre. <br>
  Il s'agit de questionnements autour du caractère exceptionnel
  des événements (chantier, exposition, temps forts, ...) afin de redynamiser la ville.
  Comment gérer la mobilité&#8239;? Quelle position adopter afin de (re)considérer le potentiel du patrimoine&#8239;?
  p Vous pouvez télécharger le pdf en cliquant ici.

block project_written_text
  div.gallery.col-lg-6.col-md-6
    p. 
      La ville de Tonnerre, située à 200 km de Paris, en Bourgogne, 
      reste plongée dans une sorte d'inertie, léthargie. L'exposition 
      autour du chantier culturel ambitionne donc de la redynamiser, 
      en préparant l'Hôtel Cœurderoy, à devenir un point névralgique. 
      Le musée, véritable architecture institutionnelle, véhicule des 
      valeurs telles que la solidité, l'ordre, la permanence, le pouvoir. 
      Tonnerre souhaite aller plus loin, en insufflant un nouvel élan d'optimisme, 
      de renouveau et de dynamisme. 
    p.
      L'Hôtel Cœurderoy est actuellement dans un état intermédiaire, abandonné et désaffecté, 
      il n'en est cependant pas moins un lieu en devenir, un lieu en attente. 
      Ne générant aucun flux de passage actuellement, il est peu considéré par la population 
      locale et touristique. La volonté de le réhabiliter en lieu de culture ne peut suffire&#8239;: il 
      s'agit en parallèle de créer des temps communs conviviaux sur le site afin de générer 
      des dynamiques sociales.
    p.
    L'exposition temporaire vise à redonner de l'intérêt au musée, 
    au patrimoine tonnerrois. Au-delà de la simple dimension de communication, 
    il s'agit de faire signal tout en s'ancrant dans le site, afin de le mettre en 
    valeur et affirmer une nouvelle identité. L'ouverture exceptionnelle cherche à faire 
    redécouvrir le lieu tout en créant une opération de communication sur le  présent et 
    le futur de Cœurderoy, en investissant les habitants dans le processus. Elle tend à 
    instaurer un dialogue entre l'historique et le cadre nouveau dans lequel le chantier 
    s'installe, véritable temps de transition, de mutation. 
    p.
      Elle induit alors plusieurs interrogations vis-à-vis du patrimoine, mais également 
      vis-à-vis de la question de la mobilité, de la temporalité d'un projet&#8239;; 
      elle questionne en parallèle le véritable rôle de l'architecte, la mesure de son 
      intervention face à la notion de mémoire inhérente aux collections présentées et à l'architecture en elle-même. 
    p.
      À partir de ces postulats, comment gérer la mobilité&#8239;? Comment envisager le caractère exceptionnel de l’événement 
      (chantier, exposition, temps forts,...)&#8239;? Quel est le rôle de l’architecte&#8239;? Quelle position doit-il alors 
      adopter&#8239;? De quelle manière envisager le patrimoine, son potentiel&#8239;? 
    p.  
      Le patrimoine se définit comme étant l’ensemble des biens, des droits hérités du père. 
      Le patrimoine architectural représente pour sa part l’ensemble des constructions humaines qui ont une "grande" 
      valeur parce qu’elles caractérisent une époque, et que nous souhaitons transmettre aux générations futures. 
      Cependant, au sein de l’Hôtel Cœurderoy, quelle est la réelle légitimité patrimoniale&#8239;? 
      L’intérêt pour tel ou tel élément étant purement subjectif, comment véhiculer le potentiel de 
      l’architecture au public, tout en le rendant unique et personnel pour chacun&#8239;?
    p.  
      "Le patrimoine n’est pas uniquement lié au passé&#8239;; il faut l’inscrire résolument dans le présent 
      et dans l’avenir. Un patrimoine isolé du flot de la vie a une valeur limitée. Il doit au contraire 
      faire l’objet d’une création et d’une transformation continuelles.&#8239;" 
      De même, il convient d’inscrire l’exposition dans le cycle du chantier, de fonctionner 
      par phases, véritables temps forts, conjonctures de convivialité. Le chantier culturel 
      devient alors dans un second temps, un chantier participatif où les habitants sont intégrés 
      dans le processus de transformation, au même titre que le chantier est intégré à la ville. 
      De ce fait, apparaît une nouvelle appropriation de l’espace, du bâti, une plus grande considération 
      à travers laquelle le public est alors amené à reconsidérer le lieu, sous un autre angle. 
      Ce projet s’inscrit en parallèle de la volonté de la ville de Tonnerre pour l’appropriation de 
      la ville à travers un nouvel élan de dynamisme. Accompagner le chantier, créer une réelle 
      expérience du chantier à travers son caractère exceptionnel, afin de créer un "&#8239;commun éphémère&#8239;", 
      vecteur de nouvelles connexions sociales, autour de la mémoire, de la culture, de la trace et de la sédimentation.

  div.gallery.col-lg-6.col-md-6
    p.
      Autre enjeu du projet, la notion de mobilité&#8239;: si celle-ci s’applique aux hommes à tout les niveaux, 
      aux objets, aux techniques, aux structures, qu’elles soient politiques, sociales ou économiques, elle est 
      avant tout une façon intelligente d’"&#8239;habiter&#8239;" une atmosphère dans un lieu, au-delà du lieu en lui-même, 
      et dans un temps déterminé. Elle permet d’illustrer les relations et les connexions de vie urbaine en créant 
      alors une relation entre le territoire et la population. Chaque habitant construit sa propre "&#8239;constellation&#8239;" 
      de lieux matériels et immatériels pour définir de multiples territoires personnels. 
      Elle permet donc de servir la ville, en investissant des espaces, lieux, ou non-lieux qui attendent d’être envahis, 
      utilisés et occupés. L’acte architectural s’élabore sur le socle que représente le lieu. 
    p.  
      Pour Tadao Andô, "&#8239;Le lieu est d’abord une étendue, un objet à décrypter par l’architecture […] 
      porteuse d’un nouveau potentiel.&#8239;". Selon lui toujours, le travail de l’architecture ne peut commencer 
      qu’après avoir "&#8239;décodé avec certitude les relations tissées entre ses multiples constituants. 
      Pour déchiffrer ce message, parvenir à le sentir, une grande capacité d’analyse intellectuelle 
      et de réflexion, ainsi qu’une profonde sensibilité, sont requises&#8239;".
    p.
      À travers le dispositif d’exposition temporaire, la responsabilité du muséographe est nécessaire car lui seul 
      détient le pouvoir de ses actes d’un point de vue juridique bien évidemment, mais également d’un point de vue 
      éthique. Le muséographe ne peut se détacher du lieu, il ne peut s’intégrer dans le bâtiment sans une analyse 
      approfondie de ses volumes, de ses matières et de son contexte. Scénographier cet espace, c’est en révéler 
      la continuité à travers le processus de mémoire.
    p.  
      Il ne faut pas oublier que le patrimoine culturel tient moins aux objets et aux lieux qu’aux 
      significations et aux usages que les personnes leur attachent et aux valeurs qu’ils représentent. 
      C’est pourquoi en trame de fond du projet il s’agit d’investir l’espace de la ville pour créer une 
      invitation, une interrogation, un intérêt, pour faire en sorte que les habitants investissent par 
      la suite le lieu de l’Hôtel Cœurderoy. 
    p.
      La notion de culture est inhérente au programme&#8239;: "&#8239;bien moral&#8239;", progrès intellectuel, "&#8239;savoir 
      à la possession desquels peuvent accéder les individus et les sociétés grâce à l’éducation, 
      aux divers organes de diffusion des idées, des œuvres&#8239;", elle représente l’ensemble de 
      connaissances et de valeurs abstraites qui, par une acquisition généralement méthodique, 
      éclaire l’homme sur lui-même et sur le monde, enrichit son esprit et lui permet de progresser. 
      Elle se fait alors par le contact direct avec l’environnement, mais également à travers la sensibilité 
      de chacun et la convivialité véhiculée par le projet. 
    p.  
      En parallèle, la notion de durée est une notion 
      maîtresse puisque le projet s’inscrit dans le temps du chantier&#8239;; son caractère exceptionnel 
      et événementiel le rend intrinsèque au lieu, à l’environnement, à cet état de mutation et de changement&#8239;: 
      en effet, la temporalité a un impact fort sur le projet qui fonctionne en suivant les différentes phases du chantier, 
      investissant tout d’abord la ville, puis la cour de l’Hôtel, puis les murs de Cœurderoy. Ces phases du 
      chantier sont alors à l’origine de temps de rassemblement&#8239;: fêter le chantier, se l’approprier, 
      l’investir humainement et socialement. 
    p.  
      Le caractère exceptionnel de ces "&#8239;manifestations&#8239;" 
      renvoie à la création d’un "&#8239;commun éphémère&#8239;" à travers lequel les relations se tissent, 
      les connaissances et idées se partagent et se transmettent. Cela renvoie d’ailleurs à la 
      notion de Dionysisme, en opposition à l’Apollinisme pour Nietzsche, qui se caractérise par 
      la reconnaissance du caractère foisonnant, exubérant de la vie. Il s’agit de faire des expériences, 
      de créer une interaction inédite en insufflant de nouveaux rapports au monde et aux autres. 
    p.
      À travers ce projet, plusieurs enjeux du chantier sont repris&#8239;: la mutation du dispositif 
      amène à reconsidérer l’espace dans lequel il est disposé, la mobilité totale des différents 
      éléments constitutifs permet de véhiculer la culture, de faire preuve de pédagogie, et de 
      permettre la transmission des collections au sein de différents lieux comme des écoles, des gares, 
      des lycées. De plus, ces temps forts à l’origine même de ré-appropriation de la ville, 
      appellent les individus à se mobiliser, à se retrouver et à tisser des relations concrètes, 
      insufflées par un élan d’optimisme et de renouveau. 
    p.
      En parallèle de cette intervention artistique dans la ville en premier lieu, 
      il s’agit de toucher la sphère de l’expérience, comme la publicité ou le marketing, 
      véritable enjeu des marques au XXIème siècle. Comment alors, réanimer l’espace public et 
      créer une nouvelle identité à l’Hôtel Cœurderoy, lieu en devenir&#8239;?
      
    p.text_notification 
      Patrimoine&#8239;: (emprunté au lat. Patrimonium "&#8239;bien de famille, patrimoine&#8239;" au propre et au 
      figuré (patrimonium paterni nominis, Cicéron&#8239;;  patrimonium populi "le trésor public", Florus))
      This text is registered under Creative Commons Licence (CC BY-NC-SA 4.0). <br> Feel free to modify and share it, only under the same licence. <br> Please, just add a link to my website. <br> Thanks! (:
