extends ./templates/layout_projects.jade

block project_title
  h1 IN THE SHADOW OF YOUR DATA — hack:tivité

block project_description
  p.
    hack:tivité est un jeu vidéo qui permet de découvrir sous un nouveau jour, la 
    quantité de métadonnées générées et récupérées notamment lors de l’utilisation des services de Google.
    Si le jeu n'est pas encore synchronisé avec l'historique de navigation, les métadonnées sont visuellement 
    et graphiquement retranscrites dans le but de créer un univers aléatoire et unique à chaque fois, directement à partir 
    de nos possibles traces. 
  p. 
    Avec la volonté de créer plus qu’un simple jeu vidéo contemplatif où l’internaute peut naviguer 
    entre ses traces sans pouvoir faire quoi que ce soit d’autre, le joueur a seulement une minute pour 
    "engloutir" le plus de métadonnées et ainsi tenter d’en supprimer le maximum du jeu.
  p. 
    Dans son développement futur, hack:tivité aura une fonctionnalité "rappel" qui permettra à l'internaute 
    de choisir de recevoir une notification toutes les 20 requêtes, tous les soirs, 
    toutes les semaines, ou seulement tous les ans. À la fin du temps imparti, l’internaute pourra aussi être 
    redirigé vers un site d'aide qui l’aidera à gérer ses paramètres de confidentialité de façon plus 
    claire et plus simplifiée que le site proposé par Google afin que ses données récupérées soient davantage protégées.
    
  p &#9755; hack:tivité est disponible librement sur github en 
    a(href="https://github.com/estherbouquet/hacktivity", target="_blank") cliquant ici !
    o Il n'aurait pu voir le jour sans les contributions et conseils avisés de Valentin Quiédeville et Quentin Dufour.
  p.
    <em>English coming soon</em>

    
block project_gallery
  div.gallery
  
    //img.divided_margin_right(src="./images/diploma_projects/Bouquet_Esther-hacktivity-video_game_notification.jpg")
    img(src="./images/diploma_projects/Bouquet_Esther-hacktivity-twin_macbook_video_games.jpg")
    div.embed-container
      iframe(src='https://player.vimeo.com/video/227908504', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
