extends ./templates/layout_projects.jade

block project_title
  h1 IN THE SHADOW OF YOUR DATA — Mind map

block project_description
  p.
    Mind maps designed for my diploma in order to understand and show the links between the different notions that I have 
    identified during my readings and project analysises. (More photos incoming)

block project_gallery
  div.gallery
    img(src="./images/diploma_mindmaps/Bouquet_Esther-General_Mind_Map.jpg")
    img(src="./images/diploma_mindmaps/Bouquet_Esther-References_Mind_Map.jpg")
