extends ./templates/layout_projects.jade

block project_title
  h1 IN THE SHADOW OF YOUR DATA — hack:cess

block project_description
  p.
    <em>hack:cess</em> est une expérience interactive qui tend à dénoncer le phénomène de traque 
    et de collecte de métadonnées sur les réseaux wifi publics. Pour développer ce projet, 
    je me suis basée sur un constat actuel : lorsque nous nous connectons à un réseau wifi public, 
    plusieurs informations non chiffrées 
    comme notre adresse IP, les URL que nous demandons, notre type d’appareil, peuvent être interceptées par les personnes administrant l’accès wifi à chaque 
    fois qu’un ordinateur ou un téléphone communique avec le réseau en question. 
  p. 
    Encore à l'état de prototype, <em>hack:cess</em> pourrait s’ancrer dans des aéroports, et plus particulièrement 
    dans les espaces d’attente où les voyageurs cherchent des distractions et notamment un point d’accès wifi pour aller sur Internet.
  p.
    Afin d’être en accord avec la politique de la CNIL concernant l’utilisation de données personnelles, 
    les voyageurs sont guidés par une interface web qui sert aussi de médiation du projet au début de l’expérience. 
    Chaque connexion associe l'adresse IP à un prénom tiré au sort.
  p.
    Une fois connecté.e, une boîte noire dévoile les échanges invisibles mais néanmoins 
    identifiables des appareils connectés. Afin de réduire le flux de texte affiché, seuls 
    certains comportements sont ciblés comme le fait d’aller sur Facebook, Twitter, Instagram, ou bien encore de faire une recherche
    via Google. Ces échanges apparaissent sous la forme d’un monologue créé à partir de phrases tirées 
    au hasard mais néanmoins associées à un de ces comportements. 
  p.
    Lors de sa déconnexion, l’internaute à la possibilité d’imprimer un souvenir de l’expérience via l’imprimante thermique. 
    Elle lui délivre alors un ticket sur lequel on peut retrouver un bout du monologue dévoilant que tout le monde peut finalement récupérer les données, 
    mais aussi des conseils pratiques de la CNIL pour protéger ses connexions. Un lien redirige 
    vers des informations plus institutionnelles en cas de problème ou de questions plus précises sur 
    la protection des données. En marge de cette installation il y a aussi un questionnaire qui 
    permet au voyageur de préciser ou qualifier certains termes qui peuvent être subjectifs, afin qu'il puisse faire entendre 
    sa voix et de participer au débat. 
    
  p &#9755; hack:cess est disponible librement sur github en 
    a(href="https://github.com/estherbouquet/hackcess", target="_blank") cliquant ici !
    o Il n'aurait pu voir le jour sans l'acharnement et la détermination sans faille de Valentin Quiédeville et Quentin Dufour.

  p.
    <u> Plus de photos/vidéos bientôt !</u>

  p.
    <em>English coming soon</em>

    
block project_gallery
  div.gallery
    img(src="./images/diploma_projects/Bouquet_Esther-hackcess_smartphone.jpg")
    div.embed-container
      iframe(src='https://player.vimeo.com/video/227895295', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    div.embed-container
      iframe(src='https://player.vimeo.com/video/227070977', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
