extends ./templates/layout_projects.jade

block project_title
  h1 INSALAN 2015 — IDENTITY AND COMMUNICATION SUPPORTS
  
block project_description
  p  Pour cette dixième édition de 
    a(href="www.insalan.fr", target="_blank") l'INSALAN
    , un des plus grands événements étudiants du 
    j jeu vidéo, regroupant plus de 440 joueurs le temps 
    d d'un week-end, l'identité de l'événement s'est développée 
    z autour de l'image du space invader. 
  p.
    Véritable emblème 
    de l'association responsable de l'événement, il se 
    décline sur les supports de communication (l'affiche, 
    les flyers, les badges joueurs et staff, les tote bags, ...). 
    
  p.
    <em>English coming soon</em>
    
block project_gallery
  div.gallery
    img(src="../images/insalan_2015/Bouquet_Esther-INSALAN15-poster.jpg")
    img(src="../images/insalan_2015/Bouquet_Esther-INSALAN15-urban_poster.jpg")
    img(src="../images/insalan_2015/Bouquet_Esther-INSALAN15-flyers.jpg")
    img(src="../images/insalan_2015/Bouquet_Esther-INSALAN15-badge.jpg")
    img.divided_margin_right(src="../images/insalan_2015/Bouquet_Esther-INSALAN15-totebag2.jpg")
    img.divided_margin_left(src="../images/insalan_2015/Bouquet_Esther-INSALAN15-totebag1.jpg")
