extends ./templates/layout_projects.jade

block project_title
  h1 INTERNSHIP REPORT — IREGULAR

block project_description
  p.
    Iregular est un studio qui envisage le design par le code avec la notion de temps 
    réel. Basé à Montréal, il s’inscrit dans la dynamique numérique engagée par cette ville multiculturelle.

  p.
    Leur travail allie la lumière, le son et la géométrie aux mathématiques et aux 
    algorithmes. Ils créent alors ce qu’ils appellent des «&#8239;systèmes&#8239;» aux possibilités infinies 
    et favorisent la création par l’expérimentation. 

  p En questionnant par moi-même l'utilisation du code dans le design à travers l'écriture de ce rapport, j'ai décidé d'interroger son emploi à travers ma propre pratique. Les images présentes dans cette édition ont été placées aléatoirement par un programme développé à l'occasion et 
    a(href ="https://github.com/superboum/imager", target ="_blank") disponible ici.
    

  p.
    <em>English coming soon</em>

block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-Couv.jpg")
    img.divided_margin_left(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-Couv+Dos.jpg")
    img.divided_margin_right(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-01.jpg")
    img.divided_margin_left(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-02.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-03.jpg")
    img.divided_margin_right(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-04.jpg")
    img.divided_margin_left(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-05.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-06.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-07.jpg")
    img.divided_margin_right(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-08.jpg")
    img.divided_margin_left(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-09.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-10.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-11.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-12.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-13.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-14.jpg")
