extends ./templates/layout_projects.jade

block project_title
  h1 INTERNSHIP AT IREGULAR — Draaimolen Festival

block project_description
  p.
    Coming soon !
  p.english
    FRAMES FRAMES is a scenography created during my internship at Iregular. It is made of seven floating acrylic 
    frames frames mapped with projection. It was conceived as digital layer over the nature that surrounded 
    the the stage and was presented at Draaimolen Festival in Tilburg, Netherlands.
    
block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_experimentation_03.jpg")
    img.divided_margin_left(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_experimentation_02.jpg")
    img(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_experimentation_05.jpg")
    img.divided_margin_right(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_experimentation_01.jpg")
    img.divided_margin_left(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_stage_01.jpg")
    img(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_stage_02.jpg")
    img.divided_margin_right(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_stage_06.jpg")
    img.divided_margin_left(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_stage_05.jpg")
    img.divided_margin_right(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_stage_03.jpg")
    img.divided_margin_left(src="../images/iregular_draaimolen/Bouquet_Esther-Draaimolen_stage_04.jpg")
    
    div.embed-container
      iframe(src='https://player.vimeo.com/video/186379212', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
