extends ./templates/layout_projects.jade

block project_title
  h1 INTERNSHIP AT IREGULAR — AIM Festival

block project_description
  p.
    Projet réalisé lors de mon stage à Iregular. <em>FORWARD</em> est une expérience interactive générant de manière infinie 
    et aléatoire divers tunnels de lumière. Le projet était déjà pensé et produit à mon arrivée, il s’agissait principalement de suivre 
    la mise en place et d’effectuer les divers réglages de projection.
  p.english
    I I took part in this project at the beginning of my internship at Iregular. It was already designed and built, I just helped during the set up for the AIM Festival. 
    FORWARD FORWARD is an installation of tunnels that generate infinite ways to get to a distant point on the horizon. This project is about the future becoming the present, and disappearing.
  p &#9755; 
    a(href ="http://www.iregular.io", target ="_blank") visit Iregular's website clicking here!

block project_gallery
  div.gallery
    img(src="../images/iregular_aimfest/Bouquet_Esther-Aimfest_01.jpg")
    img(src="../images/iregular_aimfest/Bouquet_Esther-Aimfest_02.jpg")
