extends ./templates/layout_projects.jade

block project_title
  h1 LES TRANSRISOGRAPHIQUES — WORKSHOP

block project_description
  p.
    5 jours, 10 étudiants, 1 risographie = 50 affiches.
  p.
    À la manière des Transmusicales qui proposent une profusion
    de concerts sur un temps donné, il s’agissait de
    concevoir graphiquement et produire en un temps très
    limité un éventail d’affiches, afin d’explorer les possibilités
    techniques et plastiques qu’offre la risographie.

  p.
    <em>English coming soon</em>

block project_gallery
  div.gallery
    img(src="../images/transrisographiques/")
    img(src="../images/transrisographiques/")
    img(src="../images/transrisographiques/")
    img(src="../images/transrisographiques/")
    img(src="../images/transrisographiques/")
    img(src="../images/transrisographiques/")
    img(src="../images/transrisographiques/")
    img(src="../images/transrisographiques/")
