extends ./templates/layout_projects.jade

block project_title
  h1 LIGHTING CHOREOGRAPHIES

block project_description
  p.
    Découverte de la lumière et de ses utilisations à travers 
    l'Atelier Lumière mis en place par l'ENSAAMA.
    Utilisation de la lumière des projecteurs comme un véritable matériau. 
    La mise en lumière de la tour de l'escalier incite au parcours 
    et met en valeur les diagonales des marches, cette scénographie 
    lumineuse permet plusieurs ambiances colorées.
    Découverte et appropriation de la lumière avec des filtres colorés 
    (pratique de la synthèse additive et soustractive). Jeux de motifs 
    projetés sur le mur ou directement sur un étudiant, tels une seconde peau. 
    Jeux de lumière et ombres avec des LED embarquées et création d'amorces 
    de chorégraphies lumineuses.

  p.english
    <br>Discovery of the technical aspect of the light 
    c and its uses thanks to the "LightFab" at Olivier de Serres, a 
    c weekly workshop about light experimentations. 
    c First, we used the spotlights' light as a real material.
    c We lighted up the stairs creating an unsual path and walking 
    c made by several colorful atmospheres.
    c Then, we created lighting games with several colored layers
    c and spolights. We also conceived several shorts 
    c choreographies with onboard LED which generate sadows, 
    c geometrical patterns, and so on.

block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/lighting_choreographies/Bouquet_Esther-Projet_Atelier_Lumiere-Escalier_Lumineux1-hd.jpg")
    img.divided_margin_left(src="../images/lighting_choreographies/Bouquet_Esther-Projet_Atelier_Lumiere-LED4-hd.JPG")
    img.divided_margin_right(src="../images/lighting_choreographies/Bouquet_Esther-Projet_Atelier_Lumiere-Escalier_Lumineux5-hd.JPG")
    img.divided_margin_left(src="../images/lighting_choreographies/Bouquet_Esther-Projet_Atelier_Lumiere-Escalier_Lumineux4-hd.JPG")
    img.divided_margin_right(src="../images/lighting_choreographies/IMG_9434.JPG")
    img.divided_margin_right(src="../images/lighting_choreographies/IMG_9540.JPG")
    img(src="../images/lighting_choreographies/_MG_7689.JPG")
    img(src="../images/lighting_choreographies/_MG_7697.JPG")
    img(src="../images/lighting_choreographies/_MG_7836.JPG")
    img(src="../images/lighting_choreographies/Bouquet_Esther-Projet_Atelier_Lumiere-LED3-hd.JPG")
