extends ./templates/layout_projects.jade

block project_title
  h1 A NEW SERVICE FOR THE CROUS BRETAGNE

block project_description
  p.
    Le pause minute est un service de restauration 
    rapide qui propose un repas qualitatif afin d'optimiser 
    le service actuel du CROUS. 
  p.
    À travers des interventions 
    ciblées aussi bien lors de la prise de la commande, 
    que lors du moment du repas (environnement et repas en lui-même), 
    trois scénarios d'usage sont alors établis permettant ainsi 
    une flexibilité du repas : un repas sur place, un repas à 
    emporter, et un repas hybride. Le projet se déploie à travers 
    une stratégie spatiale, une signalétique, une identité du nouveau 
    service ainsi qu'un packaging, le kit minute.
  p Projet pluridisciplinaire mené avec 
    a(href="http://louisedudrut.wixsite.com/designer-espace") Louise Dudrut
    et  et 
    a(href="http://celesteteikiteetini.wixsite.com/designer-produit") Céleste Teikiteetini.
  p.
    <em>English coming soon</em>

block project_gallery
  div.gallery
    img(src="../images/CROUS/")
    img(src="../images/CROUS/")
    img(src="../images/CROUS/")
    img(src="../images/CROUS/")
    img(src="../images/CROUS/")
    img(src="../images/CROUS/")
    img(src="../images/CROUS/")
    img(src="../images/CROUS/")
