extends ./templates/layout_projects.jade

block project_title
  h1 ARCHITECTURAL PRECIOSITY

block project_description
  p.
    À partir de la lecture du texte Le Dépeupleur, de Samuel Beckett, 
    création de micro-architectures révélant différentes notions comme la 
    mémoire, la protection, la préciosité. L'architecture se réduit à sa 
    petite échelle. La structure recouvre l'utilisateur. Elle devient un 
    lieu de protection qui l'habille, le protège. La mise en lumière révèle 
    l'architecture, elle lui donne sa propre identité nocturne, dans le but 
    de proposer une nouvelle lecture de l'environnement, plus intime et 
    poétique, grâce aux ombres portées/directes. La lumière révèle des jeux 
    d'ombres qui brouillent la réalité tout en en créant une nouvelle. 
  p.english
    <br> Small architectural experiments based on Le Dépeupleur written 
    c by Samuel Beckett. They are linked to several intimate notions 
    c such as memory, protection, preciosity. The white light reveals the curves
    c of those shelters and highlights a new understanding of the environment: 
    c a more poetic, a more intimate space is created.

block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/micro_architecture/Bouquet_Esther-Micro_Architecture_Lumiere-1-hd.JPG")
    img.divided_margin_left(src="../images/micro_architecture/Bouquet_Esther-Micro_Architecture_Lumiere-2-hd.JPG")
    img.divided_margin_right(src="../images/micro_architecture/Bouquet_Esther-Micro_Architecture_Lumiere-3-hd.JPG")
    img.divided_margin_left(src="../images/micro_architecture/Bouquet_Esther-Micro_Architecture_Lumiere-4-hd.JPG")
    img.divided_margin_right(src="../images/micro_architecture/Bouquet_Esther-Micro_Architecture_Lumiere-5-hd.JPG")
    img.divided_margin_left(src="../images/micro_architecture/Bouquet_Esther-Micro_Architecture_Lumiere-6-hd.JPG")
