extends ./templates/layout_projects.jade

block project_title
  h1 A WORKSITE EXHIBITION IN TONNERRE

block project_description
  p.
    Le centre ville de Tonnerre (Bourgogne) est particulièrement 
    riche en bâtiments historiques. Parmi ceux-ci, l'ancien hôtel 
    particulier de la famille Cœurderoy fait l'objet d'une rénovation 
    après plus d'une décennie d'abandon. Dans une perspective de 
    dynamisation culturelle de la ville, le projet s'articule autour 
    d'un chantier ouvert au public permettant de réhabiliter le bâtiment 
    tout en incluant les habitants dans ce processus et d'une exposition 
    qui suit les différentes phases du chantier promouvant de cette façon 
    son actuelle et future fonction muséale.
  p.
    <em>English coming soon</em>

block project_gallery
  div.gallery
