extends ./templates/layout.jade


block put_a_title_in_this_block
  title Projects - Esther Bouquet - Graphic & space designer

block put_a_content_in_this_block
  div.row.preview_wall.el__transition_long
    div.col-md-4.col-lg-4.col-sm-6.col-xs-12
      div.preview_item
        a(href="./master_thesis_editorial_design.html") 
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Master_Thesis_Cover.jpg")
          span.preview_title In the shadow of your data (editorial design)
    div.col-md-4.col-lg-4.col-sm-6.col-xs-12
      div.preview_item
        a(href="./refreshing_memories.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Refreshing_Memories.jpg")
          span.preview_title Refreshing memories
    div.col-md-4.col-lg-4.col-sm-6.col-xs-12
      div.preview_item
        a(href="./art_in_context_Chapelle_des_Calvairiennes.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Chapelle_des_Calvairiennes.jpg")
          span.preview_title Editorial design for <em>La Chapelle des Calvairiennes</em>
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./corp_artistic_creation_technological_research.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-CORP_Internship.jpg")
          div.preview_title_double_margin_top
            span.preview_title .CORP between artistic creation and technological research  
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./les_transrisographiques.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Transrisographiques-Risographie.jpg")
          div.preview_title_margin_top
            span.preview_title Les Transrisographiques   
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./weather_an_interactive_video_game_about_weather.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-WEATHER.jpg")
          div.preview_title_double_margin_top
            span.preview_title WEATHER, a (small) video game 
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./borbola.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Borbola-Affiche-Recto3.jpg")
          div.preview_title_margin_top
            span.preview_title <em>Borbola</em>, a curative typeface
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./projects.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Tonnerre-Projet-Pro.png")
          div.preview_title_margin_top
            span.preview_title A worksite exhibition in Tonnerre 
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./capes_de_survie.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Projet_Performance_Capes_De_Survie.jpg")
          span.preview_title Capes de Survie 
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./insalan_2015.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-INSALAN-Affiche.jpg")
          div.preview_title_margin_top
            span.preview_title INSALAN 2015 
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./projects.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Borbola-Affiche-Recto3.jpg")
          div.preview_title_margin_top
            span.preview_title A landscape revaluation in Vincennes
