extends ./templates/layout_projects.jade

block project_title
  h1 REFRESHING MEMORIES

block project_description
  p Dispositif expérimental utilisant Processing et Arduino, développé dans le cadre du projet de diplôme de 
    a(href ="https://www.valerianeholley.fr", target ="_blank") Valériane Holley.
  p.
    Ce dispositif permet de créer des paysages abstraits et sonores incitant l'utilisateur à se 
    projeter, à imaginer l'avenir à partir de données passées. Il s'agit ici de mettre en relation 
    des sons extraits de vidéos avec des visuels, basés sur le test de Rorschach, et 
    automatiquement générés par l'intensité de ces pistes sonores.

block project_gallery
  div.gallery
    img(src="../images/borbola/Bouquet_Esther-Borbola-Bourboule_Carte_Depart.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Structure.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Detail_Ecran.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Pangramme.JPG")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Affiche-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Carte-Recto.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Specimen.jpg")
    img(src="../images/borbola/Bouquet_Esther-Borbola-Savons.jpg")
