extends ./templates/layout_projects.jade

block project_title
  h1 LA SIGNALÉTIQUE DANS L'ESPACE URBAIN
  
block project_description
  p. 
    La signalétique est présente à n’importe quelle échelle de 
    l’espace : de la feuille de papier à la ville en passant 
    par le domaine de l’édition et les bâtiments publics. 
    Ces différents systèmes de signalétique sont guidés par une 
    volonté commune : faire fonction d’orientation mais également 
    d’information et de communication. 
  p.  
    À travers ces trois principes 
    fondamentaux, et des œuvres manifestes, il s’agit alors de mettre 
    en place une réflexion ainsi qu’une analyse autour de la 
    (re)structuration de l’espace par la signalétique et les 
    conséquences liées à celle-ci telle qu’une (ré)appropriation de 
    l’espace par l’individu ou l’adaptation d’une nouvelle posture 
    quant à cet espace signalisé.
    
block project_gallery
  div.gallery
    p put the text here
