extends ./templates/layout_projects.jade

block project_title
  h1 SPACE AND RHYTHMS

block project_description
  p.
    Appréhension d'un espace ouvert et d'un espace fermé à l'aide de "modules" 
    (cageots, tréteaux, tabourets, et chevalets). Gestion de l'espace et 
    interprétation des rythmes traduits par l'acte architectural. 
  p.
    Le travail s'est articulé en plusieurs phases distinctes : installer 
    collectivement des modules dans l'espace, lier des verbes de mouvement 
    aux photographies d'installations, retranscrire plastiquement à petite 
    échelle des rythmes observés, développer l'idée finale à grande échelle. 
    J'ai développé le projet autour de la notion de la ligne : d'abord en trois 
    dimensions dans l'espace, puis en deux dimensions sur l'espace de la feuille, 
    elle devient un fil conducteur qui envahit peu à peu le corps, l'espace en 
    instaurant parfois une dualité, une affinité avec son environnement.
  p.
    <em>English coming soon</em>
  
block project_gallery
  div.gallery
    img(src="../images/etre_au_monde/")
    img(src="../images/etre_au_monde/")
    img(src="../images/etre_au_monde/")
