extends ./templates/layout_projects.jade

block project_title
  h1 QUEL STATUT POUR LA RECHERCHE EN DESIGN ?
  
block project_description
  p. 
    Si on distingue actuellement le design
    de commande du design d’auteur, qu’en
    est-il du statut de la recherche dans le
    design en France ? <br>
    La création artistique
    et la recherche technologique, qui
    constituaient autrefois des domaines
    nettement séparés et quasiment
    imperméables, sont désormais tellement
    intriquées que l’innovation au sein
    de l’une intéresse (et infléchit) le
    développement de l’autre. 
    <em>Comment déterminer la relation qu’entretient la
    recherche avec des projets de commandes
    ou sa propre pratique personnelle ?</em>
    
block project_gallery
  div.gallery
    p put the text here
