extends ./templates/layout_projects.jade

block project_title
  h1 WORKSHOP PAPIER 2.0 — Ne nous froissons pas !

block project_description
  p.
    I took part in the creative workshop about augmented paper, led by Maintenant Festival, in Rennes. <br>
    After 48 hours, we created an interactive experience enabling a new experience of touch. Each visitor was invited to manipulate 
    a sheet of paper (scrunching it, scratching it, folding it, rolling it, stroking it, ...) creating a unique lighting reaction.
    Each one of those interactions were then graphically translated and saved, generating a collection of the individual experiences. 
    
  p You can see the project at 2'43 and 4'23.
  p &#9755; The projet code is  
    a(href ="https://github.com/superboum/workshop_papier_2.0", target ="_blank") available here!

block project_gallery
  div.gallery
    img(src="../images/workshop_papier_2.0/Bouquet_Esther-Workshop_papier_2.0-01.jpg")
    img(src="../images/workshop_papier_2.0/Bouquet_Esther-Workshop_papier_2.0-02.jpg")
    img(src="../images/workshop_papier_2.0/Bouquet_Esther-Workshop_papier_2.0-03.jpg")
    img(src="../images/workshop_papier_2.0/Bouquet_Esther-Workshop_papier_2.0-04.jpg")
    
    div.embed-container
      iframe(src='https://player.vimeo.com/video/198165906', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
