extends ./templates/layout_projects.jade

block project_title
  h1 WORKSHOP PAPIER 2.0 — Ne nous froissons pas !

block project_description
  p.
    Coming soon !
  p.
    <em>English coming soon</em>
