extends ./templates/layout.jade


block put_a_title_in_this_block
  title Written work - Esther Bouquet - Graphic & space designer

block put_a_content_in_this_block
  div.row.preview_wall
    div.col-md-4.col-lg-4.col-sm-4.col-xs-12
      div.preview_item
        a(href="./in_the_shadow_of_your_data_master_thesis_fr.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Master_Thesis_Close_up2.jpg")
          span.preview_title In the shadow of your data (FR)
    div.col-md-4.col-lg-4.col-sm-4.col-xs-12
      div.preview_item
        a(href="./in_the_shadow_of_your_data_master_thesis_en.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Master_Thesis_Close_up2.jpg")
          span.preview_title In the shadow of your data (EN)
    div.col-md-4.col-lg-4.col-sm-4.col-xs-12
      div.preview_item
        a(href="./if_then_creation_assistee_algorithme.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Internship_Report_Iregular3.jpg")
          span.preview_title if/then, algorithm-based design (FR)
  
    div.col-md-4.col-lg-4.col-sm-4.col-xs-12
      div.preview_item
        a(href="./statut_recherche_en_design.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther-Research_and_design.jpg")
          span.preview_title What is the status of the research in design ? (FR)
    div.col-md-4.col-lg-4.col-sm-4.col-xs-12
      div.preview_item
        a(href="./generer_dynamiques_sociales.html")
          div.preview_image
            img(src="./images/previews/PREVIEW_Bouquet_Esther_social_dynamics.jpg")
          span.preview_title Social dynamics and ephemeral common times (FR)
    div.col-md-4.col-lg-4.col-sm-4.col-xs-12
      div.preview_item
        a(href="./signaletique_dans_espace_urbain.html")
          div.preview_image
            img(src="./images/previews/01PREVIEW_Bouquet_Esther-Wayfinding.jpg")
          span.preview_title Wayfinding in the urban space (FR)
