html, body, p, h2 {
  font-family: "Ginto-Thin-It";
  width: 99%;
  margin-left: 10px;
}

p{
  font-size: 35px;
  line-height: 1.3em;
}

li{
  font-size: 30px;
  line-height: 1.4em;
}

ul {
  list-style-type: circle;
}

.underlined{
  border-bottom: 1px solid;
  display: inline;
  font-size: 30px;
}

.avousdejouer{
  margin-bottom: 0;
}

img{
  float: right;
  display: block;
  margin-right: 65px;
  margin-top: 0;
}

h1{
    font-family: "Coign-Bold";
    display: inline;
    font-size: 130pt;
    text-transform : lowercase;
    font-variant : small-caps;
    font-weight: normal;
    font-style: italic;
    /*border-bottom: 7px solid black;*/
/*    transform: skewX(-7deg);*/
    margin-top:0.2em;
    margin-bottom: 0.1em;
    line-height: 0.8em;
    font-kerning: normal;
}

.introduction{
  margin-left: 25px;
  margin-top: 40px;
  width: 80%;
}

.ligne1 {
  padding : 30px 10px;
}

.ligne2{
  padding: 0px 10px 70px;
}
/*.displaybb{
  line-height: 0.8em;
}*/

input[type=submit]{
  /* suppr safari predefined style*/
  -webkit-appearance: none;
  padding-left: 5px;
  margin-top: 70px;
  border-radius: 0px;
  /*border: 1px solid black;*/
}
form{
  margin-top: 120px;
}
label{
  font-size: 16pt;
  padding-left: 3px;
  /*line-height: 1em;*/
}
.categories{
  margin: 20px 2px 20px 2px;
  display: inline-flex;
  border: 1px solid black;
  padding: 15px;
}
.numbeers{
  margin-right: 30px;
}

.categoriesexcep{
  margin: 20px 2px 20px 2px;
  display: inline-flex;
  border: 1px solid black;
  padding: 15px;
}

.displaybb.sciencesexcep{
  line-height: 1em;
}
h2, input[type=submit]{
    background: black;
    color: white;
    display: inline;
    padding: 10px;
    font-weight: normal;
    font-size: 32pt;
}

@font-face{
    font-family : "Coign-Bold";
    src: url(fonts/coign-47-bold-pro.ttf) format('truetype');
    font-weight: 500;
}

@font-face{
    font-family : "Ginto-Thin-It";
    src: url(fonts/Ginto-Thin-Italic.ttf) format('truetype');
    font-weight: 500;
}

@font-face{
    font-family : "Ginto-Reg";
    src: url(fonts/Ginto-Regular.ttf) format('truetype');
    font-weight: 500;
}
