html, body, p, h2 {
  font-family: "Ginto-Thin-It";
}

h1{
    font-family: "Coign-Bold";
    display: inline;
    font-size: 140pt;
    text-transform : lowercase;
    font-variant : small-caps;
    font-style: italic;
    border-bottom: 7px solid black;
/*    transform: skewX(-7deg);*/
    margin-top:0.2em;
    margin-bottom: 0.1em;
    line-height: 0.8em;
    font-kerning: normal;
    margin-left: 10px;
}

.ligne{
  margin: 50px 0;
}

form{
  margin-top: 120px;
}

.categories{
  margin: 50px 0;
  display: inline;
}

h2{
    background: black;
    color: white;
    display: inline;
    padding: 10px;
    font-weight: normal;
    font-size: 32pt;
}

@font-face{
    font-family : "Coign-Bold";
    src: url(fonts/coign-47-bold-pro.ttf) format('truetype');
    font-weight: 500;
}

@font-face{
    font-family : "Ginto-Thin-It";
    src: url(fonts/Ginto-Thin-Italic.ttf) format('truetype');
    font-weight: 500;
}

@font-face{
    font-family : "Ginto-Reg";
    src: url(fonts/Ginto-Regular.ttf) format('truetype');
    font-weight: 500;
}
