extends ./templates/layout_projects.jade

block project_title
  h1 DANCING AND LIGHTING SHOW: CAPES DE SURVIE 
  
block project_description
  p.
    Développement des idées amorcées lors des sessions 
    à l'Atelier Lumière d'Olivier de Serres. Le spectacle est l'expression d’un 
    laboratoire d’expérimentations, toujours soutenu par une 
    spontanéité et une inventivité. Il n'y a plus (ou presque) 
    de projecteurs, les danseurs manipulent eux-mêmes la lumière 
    qui est alors embarquée. Celle-ci devient volume, matière, 
    elle devient mouvement, elle se colore et se modèle au fil de 
    la représentation. 
  
  p &#9755; Le spectacle a été retenu dans le cadre du festival 
    a(href="http://icietdemain.fr/event/cape-de-survie/", target="_blank") Ici&Demain 2015 
    o organisé par la ville de Paris pour les 
    étudiants en art qui, comme nous, réalisent des projets artistiques !

  p.
    <em>English coming soon</em>
    
block project_gallery
  div.gallery
    img(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie1.JPG")
    img.divided_margin_right(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie6.JPG")
    img.divided_margin_left(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie8.JPG")
    img.divided_margin_right(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie10.JPG")
    img.divided_margin_left(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie11.JPG")
    img(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie16.JPG")
    img(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie17.JPG")
    img.divided_margin_right(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie22.JPG")
    img.divided_margin_left(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie24.JPG")
    img(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie25.JPG")
    img(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie26.JPG")
    img(src="../images/capes_survie/Bouquet_Esther-Projet_Performance_Capes_De_Survie27.JPG")
