extends ./templates/layout_projects.jade

block project_title
  h1 HAVING FUN WITH PROCESSING

block project_description
  p.
    Expérimentations graphiques autour de l'interactivité 
    (clavier, position souris, clics) avec Processing.
    Essayez-les !
  p.
    <em>English coming soon</em>

block project_gallery
  div.gallery
    img(src="../images/processing_experimentations/")
    img(src="../images/processing_experimentations/")
    img(src="../images/processing_experimentations/")
    img(src="../images/processing_experimentations/")
    img(src="../images/processing_experimentations/")
    img(src="../images/processing_experimentations/")
    img(src="../images/processing_experimentations/")
    img(src="../images/processing_experimentations/")
