extends ./templates/layout_writtenprojects.jade

block project_written_text
  div.gallery.col-md-12.col-lg-12
    h1.written_work if/then/else, création assistée par algorithmes
    p.citation.
      Cette réflexion a été rédigée à l'issue de mon stage effectué à Iregular de Juin à Septembre 2016. 
      Il s'agit d'une tentative de questionnement autour de la place des algorithmes et de leurs 
      enjeux dans la pratique actuelle du designer graphique. 
    p.citation Pour une lecture hors ligne, vous pouvez télécharger le pdf en 
      a(href="https://www.instagram.com/estherbouquet") cliquant ici.
      
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-05-copie.jpg")
    p.description Pour voir l’édition réalisée dans le cadre de mon stage, 
      a(href ="./internship_report_iregular.html") cliquez ici.
    p.
      La production décomplexée, centrée sur l’usage de langages de programmation est ancrée
      dans le processus de création d'Iregular et induit une pratique profondément transformée. 
      Il s’agit alors d'étudier la relation ainsi que l’influence du code, et surtout des algorithmes, 
      dans la réflexion, la conception, mais également dans l'esthétique et l'identité du 
      travail du designer. 

    p.citation Comment les algorithmes issus des langages de programmation peuvent-il générer de nouveaux enjeux dans la pratique actuelle du designer graphique&#8239;?
    p.
      Cette réflexion tente de faire émerger les multiples implications de l'usage d’algorithmes 
      dans la création en design par les différentes missions effectuées et s'attache à définir le 
      terme même d’«&#8239;algorithme&#8239;». Par la suite, elle interroge les 
      pratiques qui évoluent et qui, par conséquent, remettent en cause le statut du designer.
      En outre, elle essaie aussi de questionner la notion d’«&#8239;esthétique algorithmique&#8239;»
      qui est ainsi engendrée, afin d’analyser les risques et les limites qui y sont liés.
    
    h2 À l’intersection du numérique et des maths&#8239;: les algorithmes
    p.citation
      «&#8239;Les designers graphiques gagneraient à s'intéresser au code. Quand on regarde sous la surface, 
      on se rend compte que le design n'est pas simplement visuel. [...] En tant que structure de contrôle, 
      [le code] contribue à définir ce qu'un utilisateur peut ou ne peut pas faire.&#8239;» 
    p Alexandre Leray¹
    p.
      Le terme d’«&#8239;algorithme&#8239;» désigne une suite d’instructions suivies par une machine
      de manière séquentielle. Cette suite finie et répétable permet d’obtenir plusieurs
      résultats à travers un seul et même processus. Employée dans le design, elle génère 
      de manière instantanée et exhaustive un ensemble de solutions graphiques. De même, elle 
      permet une production de formes complexes et difficiles à se représenter mentalement,
      et qui nécessitent une importante capacité et puissance de calcul. Le programme écrit par
      le designer devient ici un «&#8239;outil qui accompagne le processus de création, et l'enrichit 
      de ses propres contraintes²&#8239;». 
      
    h2 Design et algorithmes, des pratiques transformées
    p.
      Bertrand Gille, partant du constat qu’une technique «&#8239;isolée&#8239;» 
      n’existe pas et qu’elle doit faire appel à des techniques «&#8239;affluentes&#8239;», 
      propose de voir l’histoire à travers une suite logique de «&#8239;systèmes techniques&#8239;»³.
      Et c'est, par ailleurs, à travers cette mutation successive des techniques que 
      l’émergence des technologies numériques s’est développée. Aujourd'hui, la numérisation
      massive induit de nouveaux enjeux et invite les designers à réfléchir quant à leur 
      pratique, leur relation au code et à la machine. Nous sommes désormais en présence 
      d’innovations techniques qui, accompagnées d’une diffusion massive, engendrent 
      une nouvelle révolution du numérique ainsi que la complexification des problèmes 
      en design selon Stéphane Vial⁴.

    p.
      Au-delà de l’objet en lui-même, l’acte du designer doit s’inscrire dans un réseau de liens&#8239;: 
      il s’agit de concevoir les diverses conditions de l’expérience numérique et interactive, 
      de passer à un modèle ouvert en devenir comme le fait Iregular dans ses projets. 
    p.
      Désormais, il ne s'agit plus tellement de réfléchir à un objet déterminé et fini, 
      mais davantage de penser à un processus, devenu possible grâce à l’utilisation d’algorithmes.
      D'ailleurs, c’est la notion d’expérience qui guide véritablement leur travail, à travers 
      la volonté de laisser-faire l’utilisateur, de le laisser détourner, <em>hacker</em> leurs installations 
      afin que ce dernier crée sa propre expérience comme avec le projet <em>THINGS</em>, à Montréal, 
      en 2012 [fig. a]. 
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_Q9nY4SKo-zvJUCTWbvEeYw.jpeg") 
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_oCD46P2VcoacjyUyRW0pEQ.jpeg")
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_Wjr_DWrQELyd0l5hO9jrsQ.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_po4pjNf7voFvm3hAQCFC6A.jpeg")
    p.description [fig. a] Iregular, Baillat Cardell & fils, THINGS, Mutek 2012 Montréal et BIAN Montréal 2012
    p.  
      En allant plus loin, et en utilisant des conditions comme points de départ ou comme 
      grille de construction de ses projets, le studio Moniker place le processus au cœur même 
      de sa pratique car il permet aux usagers de s’emparer des projets afin d’en devenir 
      acteurs par eux-mêmes à l'instar du projet <em>Anti-Selfie Club</em> [fig. b].
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_-cHnexB5ox0fWQ-8RCQuqg.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_BpPkJc1VmGdBaP66LUW3tA.jpeg")
    p.description [fig. b] Moniker, Anti-Selfie Club, captures d’écran de la campagne vidéo et des visuels créés par l’utilisation en ligne de leur programme, 2015
    p.
      Ces projets expérimentaux incitent donc les designers à se questionner ainsi qu'à prendre 
      conscience des possibilités d’action ou non. Ils font de ce fait émerger des possibilités 
      de transformation et d’exploration dans la pratique du design mais aussi des 
      interrogations quant à l'articulation entre la programmation et le design graphique 
      plus particulièrement.
    p.      
      En déléguant certains aspects de la réalisation formelle à un programme, le designer 
      explore effectivement de nouvelles possibilités. Toutefois, par ce biais, le designer 
      interroge aussi la délégation de ses compétences à un programme et donc, le gain et la 
      perte inhérents à cette transmission de manière indirecte.

    h2 Une remise en cause du statut de designer
    p.
      Si cette délégation de compétences est acquise en design d’espace, par l’utilisation
      du design computationnel dans l'intention de résoudre le calcul d’une forme complexe
      comme pour le <em>Fisher Center for the Performing Arts</em> de Frank Gehry [fig. c], 
      la légitimité pour le designer graphique elle, semble toujours remise en question. 
      Cette différenciation tient probablement du fait qu’il s’agit d'une part d'écrire 
      le graphisme grâce à l'écriture d'un code génératif et, d’autre part, de 
      «&#8239;laisser-faire&#8239;», de laisser libre une partie de la création à un tiers,
      qu’il soit physique ou numérique.
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_5zLbcCiGQhrdJdzPJp-8cA.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_x_j2Ry5nHLThdm5ThrMh6A.jpeg")
    p.description [fig. c] Gehry Frank, Richard B. Fisher Center for the Performing Arts, New York, États-Unis, 2003
    p.
      De cette notion se dégagent divers questionnements quant au rôle, au positionnement du 
      designer&#8239;: à qui revient la paternité de la création&#8239;? Au designer ou bien à 
      l’ordinateur&#8239;?
    p.
      <em>Posterwall for the 21st Century</em> du collectif Lust [fig. d] invite d'ailleurs à cette réflexion 
      à travers le programme mis en place qui génère continuellement une affiche toutes les cinq 
      minutes à partir de textes et images relatifs à l’actualité néerlandaise. Ainsi, Lust donne 
      «&#8239;l’aperçu de la direction que le design graphique pourrait prendre dans le futur⁵&#8239;» 
      mais s'interroge aussi sur la question&#8239;: «&#8239;avons-nous encore besoin de designers 
      graphiques⁶&#8239;?&#8239;». Il avance alors l’idée d’un transfert de contrôle du designer 
      à une entité autonome et indépendante.
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_7EnikW5kwgi_yma4A_XdQQ.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_rGZfl0W9nBSW8WMSNBQrBQ.jpeg")
    p.description [fig. d] Lust, Posterwall for the 21st Century, Triennial of Design at the Cooper Hewitt, New York, 2010–2011
    p.
      Il s’agit davantage de mettre en place un protocole génératif plutôt que la création même 
      d’un objet, comme j’ai pu le remarquer pendant mon stage à Iregular avec <em>FORWARD</em> 
      que j’ai tant installé qu'observé [fig. e]. C'est grâce à l’utilisation d’un algorithme de tri que 
      l’installation génère de manière infinie des tunnels de lumière distincts les uns des autres 
      systématiquement. Les contenus visuels et sonores sont entièrement génératifs et aléatoires, 
      et sont déterminés par le programme lui-même grâce à plusieurs variables. Chaque 
      configuration témoigne ainsi d’une certaine unicité, mais possède avant tout une esthétique
      globale qui reste déterminée par le code écrit et que l’on peut finalement identifier 
      dans différents projets du studio.
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_bCUeN5e_Raizev7Hq18lrw.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_HdX_H5IEM9rS21HlN5-UBg.jpeg")
    p.description [fig. e] Iregular, FORWARD, AIM Festival 2015, Montréal

    h2 Les risques de l’esthétique algorithmique
    p.citation
      «&#8239;All the possibilities are there, it’s just that there are too many options.&#8239;» 
    p Petr van Blokland⁷
    p.
      En dessinant par le code, le designer graphique ne se satisfait plus de la seule reproduction 
      tant numérique que visuelle du résultat que l'on peut obtenir avec des outils physiques et 
      traditionnels comme l’outil pinceau ou encore la plume. En codant, le designer fait appel
      au design interactif et/ou génératif où la programmation génère le design par itération⁸ 
      et répétition⁹ mais où la forme est aussi intrinsèquement liée à la formule énoncée. 
    p.
      Mais si certains considèrent le code comme le langage de l’interactivité numérique, 
      cette «&#8239;grammaire&#8239;» mise en place par John Maeda durant les années 1995 et 2000 
      reste toutefois limitée à une esthétique minimale et quelque peu répétitive [fig. f]. 
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_k0hU2GofmTm69GYZ0ZAQ1g.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_ObmvIMOP1x8eRJ00EWB48w.jpeg")
    p.description [fig. f] Maeda John, captures d’écran de Reactive Books, produits entre 1994 et 2000
    p.
      En effet, les codes graphiques utilisés restent très similaires&#8239;: composés de lignes, 
      de rectangles, de cercles, ils utilisent aussi la bichromie et jouent avec de forts 
      contrastes. Ils génèrent ainsi une esthétique qui se répète, qui se renouvelle peu, 
      représentant ainsi certainement l'une des limites les plus importantes de cette façon
      de créer. Le style graphique s'enferme dans un «&#8239;déjà-vu&#8239;» où le designer graphique 
      conçoit en réalité un processus, des modèles susceptibles de produire des formes qui 
      s'avèrent, finalement, être adaptées à n’importe quel projet d’interaction numérique [fig. g, h, i].
    img.marg_bot(src="../images/internship_iregular/data/1_VrohPJASqK-eoY4te-IR5w-copie.jpeg")
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_PeMHeY0KPGyRBAoOBFo-2g.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_LjygtRO_TBjo_QLLADBtHA-copie.jpeg")
    p.description [fig. g] Pixel Carré, LightLines, YELLOW LOUNGE, 2013 ; [fig. h] Tardy Romain, OX, Palais de Tokyo, 2016 ; [fig. i] Chevalvert, Murmur, 2013
    p.
      Cette esthétique du «&#8239;faire/défaire&#8239;», du «&#8239;tourner/détourner&#8239;» 
      semble plus être une tentative de réappropriation de ces outils que tenir d'un véritable 
      savoir-faire, d'une maîtrise concrète des algorithmes utilisés. Le risque qui transparaît 
      alors, s'avère être lié à la question de facilité de conception par laquelle le designer 
      graphique peut se laisser tenter. Ce risque peut aussi s'incarner à travers la recherche
      d’un simple artifice, un effet de surprise et d'émerveillement lié à la technologie qui 
      prime sur le sens de l’installation en elle-même, du ressenti attendu.
 
    p.
      La difficulté réside finalement dans le fait qu’il faut désormais créer de nouveaux codes 
      mais également de nouvelles références visuelles car la différenciation ne peut plus 
      passer par la technique seule. Il faut pouvoir se réapproprier ce qui a déjà été fait, en 
      dépassant le simple cadre de la technique elle-même, cette dernière ayant été largement 
      démocratisée. Désormais, il faut aller au-delà de la technique, il faut lui échapper
      afin de créer de l’émotion, afin d'impulser un rapport sensible entre numérique 
      et spectateur, tout en ressentant et percevant l’influence du code sur le processus 
      de conception au sein de chaque création numérique.

    h2 Programmation et algorithmes&#8239;: matières à créer
    p.citation
      «&#8239;Le designer doit se positionner comme acteur et non comme simple usager d’une 
      technologie prête à l’emploi. L’approche des <em>hackers</em> est en cela un modèle&#8239;:
      comprendre et s’approprier, détourner, inventer et adapter [la technologie] à ses besoins.&#8239;» 
    p Stephanie Vilayphiou et Alexandre Leray¹⁰
    p.
      Véritable bénéfice d’une philosophie de travail axée sur le numérique ainsi que sur 
      l’interactivité, l’utilisation de la programmation et particulièrement des algorithmes 
      dans le domaine de la création numérique semble gagner l’intérêt des designers graphiques&#8239;;
      il s’agit désormais de dépasser l’attrait d’une esthétique algorithmique seule, afin de 
      faire émerger un réel regard critique sur le code et ses effets [fig. j].
    img.divided_margin_right.marg_bot(src="../images/internship_iregular/data/1_wGFUY1kbndA8POWvFCL-EA.jpeg")
    img.divided_margin_left.marg_bot(src="../images/internship_iregular/data/1_j-Amp2N7ADEV3ic5cz0crw.jpeg")
    p.description [fig. j] Shim Kyuha, Performa, 2014
    p.
      Mais, si l’on considère dès à présent les langages de programmation et les algorithmes 
      comme des matières propres à la création et non comme de simples outils, on peut alors
      les envisager, les considérer comme des éléments porteurs de valeurs et de sens qui 
      génèrent des usages inédits, et qui incitent à adopter une forme d’innovation en constante 
      évolution.

    p.
      C'est en s’affranchissant, en allant au-delà du simple support de l’écran comme surface de 
      projection que le vidéo mapping permet de façonner l’espace réel par le virtuel. 
      De ce fait, Iregular et les autres studios centrés sur la création numérique créent de 
      véritables expériences immersives et permettent au spectateur de s'investir pleinement 
      dans ce nouvel espace ou environnement. Ainsi, ils lui octroient la capacité, la 
      légitimité d’en devenir acteur, voire même co-créateur par son intervention avec 
      l'installation.
      
    p.notes_ref
      <u>Notes et références&#8239;:</u> <br>
      ¹ Dimos Alexandre, Lantenois Annick, <em>Lire à l’écran</em>, Paris, Éditions B42, 2011, p. 105 <br>
      ² http://algorithme.beautifulseams.com <br>
      ³ Gille Bertrand, <em>Histoire des techniques. Prolégomènes à une histoire des techniques</em>, Éditions Gallimard, 1978 <br>
      ⁴ Vial Stéphane, <em>L'être et l'écran&#8239;: Comment le numérique change la perception</em>, PUF, 2013 <br>
      ⁵ Vilayphiou Stephanie, Leray Alexandre, «&#8239;Écrire le design. Vers une culture du code&#8239;», <em>Back Cover</em>, n°4, Éditions B42, 2011, p. 40 <br>
      ⁶ <em>Idib.</em>, p. 40 <br>
      ⁷ Citation de Petr van Blokland à la conférence Print/Pixel organisée par le Piet Zwart Institute situé à Rotterdam en 2009. <br>
      ⁸ L'itération c’est l’idée de reproduire encore et encore la même opération. On utilise ce principe notamment pour créer des animations en temps réel. <br>
      ⁹ Plutôt que d’animer un seul élément, on demande à l'ordinateur de répéter l’opération à chaque instant pour tous les éléments à animer.<br>
      ¹⁰ Vilayphiou Stephanie, Leray Alexandre, <em>op. cit.</em>, p. 43

    p.text_notification This text is registered under Creative Commons Licence (CC BY-NC-SA 4.0). <br> Feel free to modify and share it, only under the same licence. <br> Please, just add a link to my website. <br> Thanks! (:
