extends ./templates/layout_projects.jade

block project_title
  h1 IN THE SHADOW OF YOUR DATA — Diploma project

block project_description
  p.
    You may not be aware but we are constantly and continuously surrounded by data. The wind speed can be considered as data, and so can your IP 
    address. Data are everywhere which means that from now on, we are evolving in a digital society entirely linked to Big Data and metadata issues. 
    Data are the conventional representation of a piece of information which can be analogue or digital and which can be automatically processed 
    too. Metadata on the other hand, represent a piece of information on another piece of information, where the Greek prefix indicates 
    self-referencing, “data regarding other data”. To make it simple, in the example of a digital picture, the picture itself is the data and when 
    it was taken (for instance the day or the time) is the metadata.
  p.
    When we are surfing on the web, metadata are everywhere all the time: through our clicks, searches, requests, browsing history; through 
    the time, the date of connexion; through our current or passed localisation. Acting like intangible tracks of our actions, some of them 
    are collected by the visited websites. Those tracks left during our virtual paths are mostly and generally unintentional but they are 
    also generating spatial and temporal coordinates. Eventually, those invisible and intangible details enable us to be identified and 
    tracked without our knowledge and against our will.
  P.
    Embodying the new black gold of the 21st century for the GAFA (Google, Amazon, Facebook, Apple), the current dominant companies of the web, 
    we need to consider and ask ourselves how we can get back power on our data today, for tomorrow’s daily uses. Furthermore, I wanted 
    to focus on metadata, about those tracks and paths in the web space which are invisible, intangible and hard to understand although 
    they are at the center of the web economy.
    As a designer, and regarding the currently tense situation linked to the threats for our private life with the tracking on the Internet 
    for instance, I do not want to stigmatize web users. On the contrary, I want them to be aware that they are leaving unintentional 
    tracks which can be used to harm them. This highlights something paradoxical here: although web users create and generate data, 
    they can not master them. 
  p.
    My diploma project named "In the shadow of your data" is made of 5 complementary devices, recognizable by the
    prefixe <em>hack</em> — <em>hack:olyte, hack:umule, hack:tivity, hack:cess</em> et <em>hack:tion</em>. 
  p &#9755; <u>Chaque image est cliquable et renvoie vers le dispositif qu'elle illustre.<u/>
    
block project_gallery
  div.gallery
    a(href="./in_the_shadow_of_your_data_hackolyte.html") 
      img(src="./images/diploma_projects/Bouquet_Esther-hackolyte_interface-mockup_index.jpg")
    a(href="./in_the_shadow_of_your_data_hackumule.html") 
      img(src="./images/diploma_projects/Bouquet_Esther-hackumule-player02.jpg")
    a(href="./in_the_shadow_of_your_data_hacktivity.html") 
      img(src="./images/diploma_projects/Bouquet_Esther-hacktivity-twin_macbook_video_games.jpg")
    a(href="./in_the_shadow_of_your_data_hackcess.html") 
      img(src="./images/diploma_projects/Bouquet_Esther-hackcess_smartphone.jpg")
    a(href="./in_the_shadow_of_your_data_hacktion.html") 
      img(src="./images/diploma_projects/01Bouquet_Esther-hacktion_site_ok3_version_site_terminus.gif")
