extends ./templates/layout_projects.jade

block project_title
  h1 INTERNSHIP REPORT — IREGULAR

block project_description
  p.
    Iregular is a creative studio which works at the intersection of art and technology. The studio approaches design using 
    a code-driven and real-time mindset. Based in Montreal, it fits into the digital dynamic led by this multicultural city.
  p.
    Their work mix light, sound and geometry with mathematics and algorithms. They create what they called "systems" with infinite possibilities, 
    and prefer creating by making.

  p &#9755; By questionning the use of code in design through the writing of this internship report, I have decided to also question its use through my own practice. The pictures presented in this editorial design were randomly placed by a Processing program developped for this occasion and 
    a(href ="https://github.com/superboum/imager", target ="_blank") available here.
    

block project_gallery
  div.gallery
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-Couv.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-Couv+Dos.jpg")
    img.divided_margin_right(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-01.jpg")
    img.divided_margin_left(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-02.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-03.jpg")
    img.divided_margin_right(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-04.jpg")
    img.divided_margin_left(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-05.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-06.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-07.jpg")
    img.divided_margin_right(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-08.jpg")
    img.divided_margin_left(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-09.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-10.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-11.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-12.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-13.jpg")
    img(src="../images/internship_iregular/Bouquet_Esther-Rapport_de_stage-14.jpg")
