extends ./templates/layout_projects.jade

block project_title
  h1 INTERNSHIP AT IREGULAR — Delete

block project_description
  p.
    DELETE is an immersive, site-specific, interactive experience for audiences 
    from 8 to 12 years old. In 6 parts (2 websites and 4 rooms) DELETE asks: In a world where the line between what’s 
    real and what’s virtual has disappeared, what part of what makes us human do we want to keep?
    During my internship I essentially worked on the scenography of the different rooms and I took part in the experimental process, 
    testing the light effects and interaction.
  p &#9755; 
    a(href ="http://iregular.io/installations_scenographies/delete", target ="_blank") visit Iregular's website clicking here!

block project_gallery
  div.gallery
    img(src="../images/iregular_delete/Bouquet_Esther-Emerge-01.jpg")
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Emerge-02.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Emerge-03.jpg")    
    div.embed-container
      iframe(src='https://player.vimeo.com/video/201302688', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Collect-01.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Collect-02.jpg")
    img(src="../images/iregular_delete/Bouquet_Esther-Collect-03.jpg")
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Collect-04.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Collect-05.jpg")
    img(src="../images/iregular_delete/Bouquet_Esther-Collect-06.jpg")    
    div.embed-container
      iframe(src='https://player.vimeo.com/video/200994858', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Select-01.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Select-02.jpg")
    img(src="../images/iregular_delete/Bouquet_Esther-Select-03.jpg")   
    img(src="../images/iregular_delete/Bouquet_Esther-Select-04.jpg") 
    div.embed-container
      iframe(src='https://player.vimeo.com/video/201349619', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    img(src="../images/iregular_delete/Bouquet_Esther-Identify-01.jpg")
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Identify-02.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Identify-03.jpg")   
    div.embed-container
      iframe(src='https://player.vimeo.com/video/201298284', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
