extends ./templates/layout_projects.jade

block project_title
  h1 A LANDSCAPE REVALUATION IN VINCENNES

block project_description
  p.
    La Ferme de Paris, située au cœur du bois de Vincennes 
    est une exploitation agricole à vocation pédagogique 
    créée en 1989. À ce titre, elle développe des techniques 
    agricoles basées sur le respect de l’environnement et 
    valorise l’exploitation de l’agriculture biologique, 
    l’éco-construction pour la rénovation de ses infrastructures, 
    la limitation des nuisances et pollutions, la gestion paysagère. 
  p.
    Le projet de signalétique se développe autour de trois notions 
    maîtresses : sensibiliser, valoriser et identifier les différents 
    espaces de cette ferme afin de hiérarchiser les espaces pour tendre 
    vers une nouvelle identification du territoire. 
  p.
    <em>English coming soon</em>
  
block project_gallery
  div.gallery
