extends ./templates/layout_projects.jade

block project_title
  h1 SPACE AND RHYTHMS

block project_description
  p.
    Appréhension plastique et expérimentale d'un espace ouvert et d'un espace fermé à l'aide de "modules" 
    (cageots, tréteaux, tabourets, et chevalets). Gestion de l'espace et 
    interprétation des rythmes traduits par l'acte architectural. 
  p. 
    J'ai développé le projet autour de la notion de la ligne : d'abord en trois 
    dimensions dans l'espace, puis en deux dimensions sur l'espace de la feuille, 
    elle devient un fil conducteur qui envahit peu à peu le corps, l'espace en 
    instaurant parfois une dualité, une affinité avec son environnement.
  p.
    <em>English coming soon</em>
  
block project_gallery
  div.gallery
    img(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-chevalets2-hd.jpg")
    img.divided_margin_right(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-cagettes3-hd.JPG")
    img.divided_margin_left(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-cagettes2-hd.JPG")
    img.divided_margin_right(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-cagettes4-hd.JPG")
    img.divided_margin_left(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-chevalets1-hd.jpg")
    img(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-cagettes1-hd.jpg")
    img.divided_margin_right(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-tabourets1-hd.jpg")
    img.divided_margin_left(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-treteaux2-hd.jpg")

    img.divided_margin_right(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-dessin2-hd.JPG")
    img.divided_margin_left(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-dessin7-hd.JPG")
    
    img.divided_margin_right(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-dessin3-hd.JPG")
    img.divided_margin_right(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-dessin6-hd.JPG")
    
    img.divided_margin_left(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-dessin4-hd.JPG")
    img.divided_margin_left(src="../images/rhythm_and_space/Bouquet_Esther-Espace_et_rythmes-dessin8-hd.JPG")
    
    
