extends ./templates/layout_projects.jade

block project_title
  h1 WEATHER, AN INTERACTIVE AND METEOROLOGICAL VIDEO GAME

block project_description
  p.
    WEATHER est un jeu vidéoludique qui intègre les données météorologiques 
    comme véritables composantes. Suivant les variables météorologiques au moment où il lance le jeu, 
    l’univers dans lequel le joueur peut évoluer et son player, sont directement 
    impactés : le fond varie suivant s’il fait très nuageux, brumeux ou encore 
    s’il y a du crachin, ou des orages épars. Reposant sur des 
    principes graphiques simples, le projet s’est déployé autour de notions 
    telles que l’utilisation du noir et blanc, l’accumulation, la trame, et la 
    ligne. 
  p ⌂ Vous pouvez retrouver le jeu  
    a(href="https://github.com/estherbouquet/WEATHER", target="_blank") ici 
    test !
  p.
    L’idée est de développer le projet également autour du son ; 
    lorsque la boule entrerait en collision avec certains blocs, 
    elle pourrait engendrer une note qui viendrait se mêler au bruit lié au 
    temps qu’il fait, créant ainsi une sorte de partition musicale aléatoire. 
  p.
    <em>English coming soon</em>

block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/weather/Bouquet_Esther-WEATHER-Presentation5.jpg")
    img.divided_margin_left(src="../images/weather/Bouquet_Esther-WEATHER-Presentation6.jpg")
    img(src="../images/weather/Bouquet_Esther-WEATHER-mock_up_iMac.jpg")
