extends layout.jade

block put_a_content_in_this_block
  div.padding_top
    div.row.project_article
      div.col-lg-4
        div.project_text
          block project_title
          block project_description
      div.col-lg-8
        block project_written_text
