block put_a_configuration_in_this_block
  - var lang = 'en'
doctype html

html
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="../css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    block put_a_description_in_this_block
      meta(name="description", content="Hello, I am Esther Bouquet. I am a graphic and space designer, I am a designer of experiences looking for an internship from September to December.")
    block put_a_title_in_this_block
      title Esther Bouquet - Graphic & space designer
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74757168-1', 'auto');
      ga('send', 'pageview');
  
  body
    div.container
      div.navbar-fixed-top
        div.container
          div.row
            div.col-md-12.eb_header
              header.col-lg-6.col-md-6.col-sm-6.col-xs-9
                h1
                  a.title(href="./index.html") ESTHER BOUQUET | GRAPHIC & SPACE DESIGNER
              header.col-lg-6.col-md-6.col-sm-6.col-xs-3.language_version
                span
                  a.title(href="/fr/index.html") FR 
                span.title | 
                span
                  a.title(href="/index.html") EN
          div.row.nav_menu
              div.col-md-2.col-lg-2.col-sm-4.col-xs-6
                div.nav_item
                  case lang
                    when 'fr'
                      a(href="/fr/index.html") projets récents
                    when 'en'
                      a(href="/index.html") recent work
              div.col-md-2.col-lg-2.col-sm-4.col-xs-6
                div.nav_item
                  case lang
                    when 'fr'
                      a(href="/fr/projets.html") projets
                    when 'en'
                      a(href="/projects.html") projects
              div.col-md-2.col-lg-2.col-sm-4.col-xs-6
                div.nav_item
                  case lang
                    when 'fr'
                      a(href="/fr/lab.html") labo
                    when 'en'
                      a(href="/lab.html") lab'
              div.col-md-2.col-lg-2.col-sm-4.col-xs-6
                div.nav_item
                  case lang
                    when 'fr'
                      a(href="/fr/travaux_ecrits.html") travaux écrits
                    when 'en'
                      a(href="/written_work.html") written work    
              div.col-md-2.col-lg-2.col-sm-4.col-xs-6
                div.nav_item
                  case lang 
                    when 'fr'
                      a(href="/fr/diplome.html") diplôme
                    when 'en'
                      a(href="/diploma.html") diploma
              div.col-md-2.col-lg-2.col-sm-4.col-xs-6
                div.nav_item
                  case lang 
                    when 'fr'
                      a(href="/fr/a_propos_et_contact.html") contact
                    when 'en'
                      a(href="/about_and_contact.html") about & contact

      block put_a_content_in_this_block
        div.error
          p There is nothing here! (Well, not yet.)
          
    footer
      case lang
        when 'fr'
          p Contactez moi : hello@estherbouquet.com
        when 'en'
          p Contact me at hello@estherbouquet.com
      case lang
        when 'fr'
          p Demandez moi avant d'utiliser mon contenu :)
        when 'en'
          p Please, do not use content without asking me first. 
      case lang
        when 'fr'
          p  All content copyright Esther Bouquet © 2017 • Tous droits réservés.
        when 'en'
          p  All content copyright Esther Bouquet © 2017 • All rights reserved.
