doctype html

html
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="../css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    block put_a_title_in_this_block
      title Esther Bouquet - Graphic & space designer
  
  body
    div.container
      div.row
        div.col-md-12.eb_header
          header
            h1
              a(href="./index.html") ESTHER BOUQUET | GRAPHIC & SPACE DESIGNER
      div.row.nav_menu
        div.col-md-4.col-lg-2.col-sm-4.col-xs-12
          div.nav_item
            a(href="./all_projects.html") all
        div.col-md-4.col-lg-2.col-sm-4.col-xs-12
          div.nav_item
            a(href="./projects.html") projects
        div.col-md-4.col-lg-2.col-sm-4.col-xs-12
          div.nav_item
            a(href="./lab.html") lab'
        div.col-md-4.col-lg-2.col-sm-4.col-xs-12
          div.nav_item
            a(href="./written_work.html") written work
        div.col-md-4.col-lg-2.col-sm-4.col-xs-12
          div.nav_item
            a(href="./friends.html") friends
        div.col-md-4.col-lg-2.col-sm-4.col-xs-12
          div.nav_item
            a(href="./about_and_contact.html") about & contact

      block put_a_content_in_this_block
        div.error
          p There is nothing here! (Well, not yet.)
          
    footer
        p Contact me at hello@estherbouquet.com
        p Please, do not use content without asking me first. 
        p  All content copyright Esther Bouquet © 2016 • All rights reserved.
