extends layout.jade

html
  head
    link(rel='stylesheet', href='./css/main.css')
    block put_a_title_in_this_block
      title Esther Bouquet - Graphic & space designer
      
  body
  block put_a_content_in_this_block
    div.row.preview_wall
      div.col-md-4.col-lg-3.col-sm-4.col-xs-12 
        div.preview_item
          a(href="./all_projects.html") project_1
      div.col-md-4.col-lg-3.col-sm-4.col-xs-12
        div.preview_item
          a(href="./all_projects.html") project_2
      div.col-md-4.col-lg-3.col-sm-4.col-xs-12
        div.preview_item
          a(href="./all_projects.html") project_3
      div.col-md-4.col-lg-3.col-sm-4.col-xs-12
        div.preview_item
          a(href="./all_projects.html") project_4
      div.col-md-4.col-lg-3.col-sm-4.col-xs-12
        div.preview_item
          a(href="./all_projects.html") project_5
