extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"
  
block project_title
  h1 À L'OMBRE DE VOS DONNÉES — Projet de diplôme

block project_description
  p.
    Vous n’en avez peut-être pas conscience, mais nous sommes constamment et continuellement entourés de 
    données. La vitesse du vent est une donnée tout comme votre adresse IP. Dans le cadre de notre navigation 
    sur le web notamment, les données numériques sont partout. Présentes à travers nos clics, recherches, 
    requêtes, historique de navigation, mais aussi à travers l’heure et la date de nos connexions ou bien 
    encore à travers notre géolocalisation actuelle ou passée, elles génèrent des coordonnées spatiales et 
    temporelles.
  p.
    Elles agissent comme des empreintes immatérielles de nos actions, comme de véritables traces de nos 
    échanges et pérégrinations virtuelles. Ces traces, laissées de manière non-intentionnelle sont en réalité 
    des métadonnées. Et si celles-ci peuvent vous sembler insignifiantes et anodines à première vue, 
    elles nous permettent avant tout d’être identifié.e.s mais aussi d’être traqué.e.s à notre insu par 
    les GAFA ces grandes corporations du web, et par les États.
  P.
    Considérées comme le nouvel or noir du XXIe siècle, nos métadonnées se retrouvent au cœur de 
    l’économie du web où la monnaie c’est-à-dire nos données, ont une valeur réelle quand bien même elles 
    restent invisibles dans ce système de troc. Au-delà de la seule matérialisation de notre 
    production de données et de la simple dénonciation des systèmes de surveillance en ligne, c’est le 
    phénomène de traque qui m’intéresse. Si cette notion engendre l’imaginaire de la chasse et de la proie 
    et donc, un univers anxiogène, je ne compte pas pour autant stigmatiser l’internaute dans sa navigation 
    ni lui faire peur.
  p.
    Mon projet de diplôme intitulé "À l'ombre de vos données" se compose de 5 sous-projets complémentaires, identifiables par
    leur dénominateur commun : le préfixe <em>hack</em> — <em>hack:olyte, hack:umule, hack:tivité, hack:cess</em> et <em>hack:tion</em>. Dans la continuité
    de mon mémoire, je me suis positionnée en tant que graphiste militant pour le droit à une vie privée en m'intéressant à deux notions
    fondamentales, l'éthique et l'intégrité. J'ai ainsi développé des dispositifs qui se veulent pédagogiques mais qui accompagnent
    surtout l'internaute à travers sa reprise active et consciente de pouvoir sur ses données. 
  p &#9755; <u>Chaque image est cliquable et renvoie vers le dispositif qu'elle illustre.<u/>

    
block project_gallery
  div.gallery
    a(href="./fr/a_l_ombre_de_vos_donnees_hackolyte.html") 
      img(src="../images/diploma_projects/Bouquet_Esther-hackolyte_interface-mockup_index.jpg")
    a(href="./fr/a_l_ombre_de_vos_donnees_hackumule.html") 
      img(src="../images/diploma_projects/Bouquet_Esther-hackumule-player02.jpg")
    a(href="./fr/a_l_ombre_de_vos_donnees_hacktivity.html") 
      img(src="../images/diploma_projects/Bouquet_Esther-hacktivity-twin_macbook_video_games.jpg")
    a(href="./fr/a_l_ombre_de_vos_donnees_hackcess.html") 
      img(src="../images/diploma_projects/Bouquet_Esther-hackcess_smartphone.jpg")
    a(href="./fr/a_l_ombre_de_vos_donnees_hacktion.html") 
      img(src="../images/diploma_projects/01Bouquet_Esther-hacktion_site_ok3_version_site_terminus.gif")
