extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"
  
block project_title
  h1 À L'OMBRE DE VOS DONNÉES — Cartes heuristiques

block project_description
  p.
    Cartographies réalisées dans le cadre de mon projet de diplôme. Il s'agissait de montrer avec la plus grande exhaustivité, 
    les liens entre les différentes notions issues de mes lectures et analyses de textes et œuvres, afin de structurer
    et d'articuler les notions clés pour mon mémoire de recherche. 
  p.
    <u> (Plus de photos bientôt !) </u>

block project_gallery
  div.gallery
    img(src="../images/diploma_mindmaps/Bouquet_Esther-General_Mind_Map.jpg")
    img(src="../images/diploma_mindmaps/Bouquet_Esther-References_Mind_Map.jpg")
