extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"
  block put_a_title_in_this_block
    title Maybe we should talk! — Esther Bouquet — Graphic & space designer 
    
block put_a_content_in_this_block
  div.row.preview_wall
    div.col-md-6.col-lg-8.col-sm-12.col-xs-12
      div.project_text
        p. 
          Après un BTS Design d'Espace à Olivier de Serres, je viens tout juste d'être diplomée d'un DSAA Design Graphique avec mention Très Bien au LAAB 
          à Rennes. Pendant un an, j'ai travaillé sur mon projet de diplôme intitulé "À l'ombre de vos données" en m'intéressant à la problématique suivante&#8239;:
          Comment le designer graphique peut-il amener l'internaute à devenir "acteur-conscient" de ses propres données numériques&#8239;? Pour ce faire, 
          j'ai conçu différents dispositifs permettant aux internautes de mieux comprendre leurs métadonnées, de mieux comprendre comment celles-ci sont 
          collectées afin de mieux les maîtriser.
        p.
          Souhaitant poursuivre ce processus de recherche à la frontière des nouvelles technologies et du design graphique, j'intègrerai en Février 
          le DNSEP Design à l'École d'Art et de Design de Saint-Étienne (ESADSE), dans la filière Médias, orientée sur les pratiques numériques contemporaines.
        p.
          À travers mon approche, je m'intéresse et m'appuie sur l'histoire de l'art et la théorie du/en design. J'aime aussi interroger les 
          frontières entre design graphique et design d'espace à travers des projets plurisdisciplinaires et collectifs ainsi qu'à travers des 
          installations interactives. En parallèle j'accorde un vif intérêt à la scénographie, à la qualité événementielle des espaces, mais aussi 
          aux médias interactifs et numériques. 
        p.
          Toujours à l'affût de l'actualité graphique et spatiale, j'ai participé à plusieurs workshops où je me suis d'abord initiée à l'expérimentation 
          lumineuse interactive et par la suite, à différentes techniques et pratiques telles que la typographie ou les langages de programmation.
    div.col-md-6.col-lg-4.col-sm-12.col-xs-12
      div.project_text
        h1 ET SI ON ÉCHANGAIT ENSEMBLE&#8239;?
        p &#9755;  
          a(href="mailto:hello@estherbouquet.com")  hello@estherbouquet.com
        p &#9755;  
          a(href ="https://www.instagram.com/estherbouquet", target ="_blank") Instagram 
          • 
          a(href ="https://www.pinterest.com/bouquetesther", target ="_blank") Pinterest 
          • 
          a(href ="https://www.linkedin.com/in/estherbouquet", target ="_blank") Linkedin 
          • 
          a(href ="https://github.com/estherbouquet", target ="_blank") GitHub 
          • 
          a(href ="https://vimeo.com/estherbouquet", target ="_blank") Vimeo 
          • 
          a(href ="https://medium.com/@estherbouquet", target ="_blank") Medium 
        p &#9755; Téléchargez mon  
          a(href ="./docs/Bouquet_Esther-CV-Juin2017.pdf", target ="_blank") CV ici
          and et mon 
          a(href ="./", target ="_blank") portfolio ici.
      div.project_text
        h1 J'AIME TRAVAILLER AVEC EUX :
        p &#9755;  
          a(href ="https://fr.linkedin.com/in/aurélie-cousquer-3ba2b8108", target ="_blank") Aurélie Cousquer (designer graphique)
        p &#9755;  
          a(href ="https://fr.linkedin.com/in/élodie-tourbier-368abb116", target ="_blank") Élodie Tourbier (designer graphique)
        //p &#9755;  
          //a(href ="http://leamarand.com/", target ="_blank") Léa Marand (graphic designer)
        //p &#9755;  
          //a(href ="http://amandinehaussy.wixsite.com/design-environnement/amandine-haussy-work", target ="_blank") Amandine Haussy (space designer)
        p &#9755;  
          a(href ="https://quentin.dufour.io/", target ="_blank") Quentin Dufour (dev & sys admin)
        p &#9755;  
          a(href ="https://github.com/Hamilcare", target ="_blank") Valentin Quiédeville (étudiant ingénieur informatique)
