extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"

block project_title
  h1 STAGE À IREGULAR — AIM Festival

block project_description
  p.
    Projet réalisé lors de mon stage à Iregular. <em>FORWARD</em> est une expérience interactive générant de manière infinie 
    et aléatoire divers tunnels de lumière. Le projet était déjà pensé et produit à mon arrivée, il s’agissait principalement de suivre 
    la mise en place et d’effectuer les divers réglages de projection.

block project_gallery
  div.gallery
    img(src="../images/iregular_aimfest/Bouquet_Esther-Aimfest_01.jpg")
    img(src="../images/iregular_aimfest/Bouquet_Esther-Aimfest_02.jpg")
