extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"

block project_title
  h1 STAGE À IREGULAR — Delete

block project_description
  p.
    DELETE est une oeuvre interactive et immersive dédiée à un site spécifique. 
    L’expérience cible un public de 8 à 12 ans. En six parties (2 web et 4 pièces), 
    DELETE nous demande&#8239;: «&#8239;Dans un monde où la ligne entre le réel et le virtuel a disparu, quelles parties de ce qui nous rend humains voulons-nous conserver&#8239;?&#8239;».
    Durant mon stage, j'ai essentiellement travaillé sur la scénographie des différentes salles et j'ai pris part aux recherches de projections de lumière et d'interaction.

block project_gallery
  div.gallery
    img(src="../images/iregular_delete/Bouquet_Esther-Emerge-01.jpg")
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Emerge-02.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Emerge-03.jpg")    
    div.embed-container
      iframe(src='https://player.vimeo.com/video/201302688', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Collect-01.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Collect-02.jpg")
    img(src="../images/iregular_delete/Bouquet_Esther-Collect-03.jpg")
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Collect-04.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Collect-05.jpg")
    img(src="../images/iregular_delete/Bouquet_Esther-Collect-06.jpg")    
    div.embed-container
      iframe(src='https://player.vimeo.com/video/200994858', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Select-01.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Select-02.jpg")
    img(src="../images/iregular_delete/Bouquet_Esther-Select-03.jpg")   
    img(src="../images/iregular_delete/Bouquet_Esther-Select-04.jpg") 
    div.embed-container
      iframe(src='https://player.vimeo.com/video/201349619', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    img(src="../images/iregular_delete/Bouquet_Esther-Identify-01.jpg")
    img.divided_margin_right(src="../images/iregular_delete/Bouquet_Esther-Identify-02.jpg")
    img.divided_margin_left(src="../images/iregular_delete/Bouquet_Esther-Identify-03.jpg")   
    div.embed-container
      iframe(src='https://player.vimeo.com/video/201298284', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
