extends ../templates/layout_projects.jade

block put_a_configuration_in_this_block
  - var lang = "fr"

block put_a_title_in_this_block
  title Les Transrisographiques - Esther Bouquet - Graphic & space designer


block project_title
  h1 LES TRANSRISOGRAPHIQUES — EXPOSITION
  
block project_description
  p.
    Création d’un système graphique pouvant être décliné sur les différents supports de communication
    pour l’exposition «&#8239;Transrisographiques&#8239;» à Rennes par Aurélie Cousquer et Élodie Tourbier.
    La communication est réalisée à partir des véritables macules produites lors du workshop. Une surimpression
    noire en risographie agit comme identité à l’exposition pour mettre en avant le processus technique par couches.
  p.
    Exposition à la galerie LENDROIT, divisée en plusieurs pôles. Elle met en avant la diversité et la richesse des affiches créées. Le mur
    d’affiches fait signe grâce à la transparence de la vitrine et permet de communiquer l’évènement à l’échelle de la rue. L’exposition met
    en regard les étapes de l’impression risographique en présentant les masters utilisés pour les différentes couches, les macules pour tester 
    le calage et enfin, les affiches terminées.

block project_gallery
  div.gallery
    img.divided_margin_right(src="../images/transrisographiques_expo/Bouquet_Esther-transrisographiques-01.jpg")
    img.divided_margin_left(src="../images/transrisographiques_expo/Bouquet_Esther-transrisographiques-02.jpg")
    img(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-04.JPG")
    img.divided_margin_right(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-01.JPG")
    img.divided_margin_left(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-02.JPG")
    img(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-03.JPG")
    img.divided_margin_right(src="../images/transrisographiques_expo/IMG_1686.JPG")
    img.divided_margin_left(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-08.gif")
    img(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-05.JPG")
    img.divided_margin_right(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-06.JPG")
    img.divided_margin_left(src="../images/transrisographiques_expo/Bouquet_Esther-exposition_transrisographiques-07.JPG")
