extends ../templates/layout.jade

block put_a_configuration_in_this_block
  - var lang = "fr"

block put_a_title_in_this_block
  title Projets - Esther Bouquet - Graphic & space designer

block put_a_content_in_this_block
  div.row.preview_wall
    div.col-md-4.col-lg-4.col-sm-6.col-xs-12
      div.preview_item
        a(href="./a_l_ombre_de_vos_donnees_projet_de_diplome.html")
          div.preview_image
            img(src="../images/previews/01PREVIEW_Bouquet_Esther-hacktion1.jpg")
          span.preview_title À l'ombre de vos données (projet de diplôme)  

    div.col-md-4.col-lg-4.col-sm-6.col-xs-12
      div.preview_item
        a(href="./a_l_ombre_de_vos_donnees_edition_memoire.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Master_Thesis_Cover.jpg")
          span.preview_title À l'ombre de vos données (édition mémoire)

    div.col-md-4.col-lg-4.col-sm-4.col-xs-12
      div.preview_item
        a(href="./a_l_ombre_de_vos_donnees_mind_mapping.html")
          div.preview_image
            img(src="../images/previews/01PREVIEW_Bouquet_Esther-In_the_shadow_of_your_data_cartographie.jpg")
          span.preview_title À l'ombre de vos données (carte heuristique)

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./les_transrisographiques_exposition.html")
          div.preview_image
            img(src="../images/previews/01PREVIEW_Bouquet_Esther-Transrisographiques_exposition.jpg")
          span.preview_title Les Transrisographiques (exposition)

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./workshop_papier_2.0_festival_maintenant.html")
          div.preview_image
            img(src="../images/previews/01PREVIEW_Bouquet_Esther-Workshop_papier_Maintenant_Festival.jpg")
          span.preview_title Workshop Papier 2.0 : Ne nous froissons pas

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./iregular_montreal_rappport_de_stage.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Internship_Report_Iregular4.jpg")
          span.preview_title Iregular, créateurs de contenu interactif 

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./iregular_aim_festival.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-aim_fest2.jpg")
          span.preview_title AIM Festival

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./iregular_draaimolen_festival.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-draaimolen.jpg")
          span.preview_title Draaimolen Festival

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./iregular_delete.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-delete.jpg")
          span.preview_title Delete

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./rafraichir_la_memoire.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Refreshing_Memories.png")
          span.preview_title Rafraîchir la mémoire

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./edition_art_en_contexte_Chapelle_des_Calvairiennes.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Chapelle_des_Calvairiennes.jpg")
          span.preview_title Édition pour <em>La Chapelle des Calvairiennes</em>

    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./corp_creation_artistique_recherche_technologique.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-CORP_Internship.jpg")
          span.preview_title .CORP entre creation artistique et recherche technologique
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./les_transrisographiques_workshop.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Transrisographiques-Risographie.jpg")
          span.preview_title Les Transrisographiques (workshop)
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./weather_jeu_video_interactif_meteo.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-WEATHER.jpg")
          span.preview_title WEATHER, un (petit) jeu vidéo
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./borbola.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Borbola-Affiche-Recto3.jpg")
          span.preview_title <em>Borbola</em>, une typo qui soigne les maux
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./projet_professionnel_design_espace_Tonnerre_Bourgogne.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Tonnerre-Projet-Pro.png")
          span.preview_title Une expo-chantier à Tonnerre
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./capes_de_survie.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Projet_Performance_Capes_De_Survie.jpg")
          span.preview_title Capes de Survie
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./insalan_2015.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-INSALAN-Affiche.jpg")
          span.preview_title INSALAN 2015
    div.col-md-3.col-lg-3.col-sm-4.col-xs-12
      div.preview_item
        a(href="./revalorisation_paysage_Vincennes_Paris.html")
          div.preview_image
            img(src="../images/previews/PREVIEW_Bouquet_Esther-Borbola-Affiche-Recto3.jpg")
          span.preview_title Une revalorisation paysagère à Vincennes
